
{% load static %}
{% load i18n %}
{% load deck_styles %}
{% load markdown_extras %}


<div class="card">
    <div class="card-body text-center">
        <p class="text-muted">{% blocktranslate with date_joined=deck.owner.date_joined|date:"F j, Y" %}Joined on: {{ date_joined }}{% endblocktranslate %}</p>
        <p class="mb-0">{% blocktranslate count follower_count=deck.follower_count %}{{ follower_count }} Follower{% plural %}{{ follower_count }} Followers{% endblocktranslate %}</p>
        <p>{% blocktranslate count following_count=deck.following_count %}{{ following_count }} Following{% plural %}{{ following_count }} Following{% endblocktranslate %}</p>
{% if deck.owner.profile.altered_handle %}
        <a href="#" class="btn btn-dark btn-block mt-2" target="_blank"><img src="{% static "img/altered.webp" %}" alt="altered logo" width="20px"> {{ deck.owner.profile.altered_handle }}</a>
{% endif %}
        {% comment %} <span class="bio">
{% if deck.owner.profile.bio %}
            {{ deck.owner.profile.bio | escape | markdown | safe }}
{% else %}
            <i>{% translate "Empty bio" %}</i>
{% endif %}
        </span> {% endcomment %}
    </div>
</div>