:root {
    --rare-shadow-color: #058196;
    --unique-shadow-color: #ff5e00fd;
    --C-color: var(--bs-body-bg);
    --R-color: var(--bs-info-bg-subtle);
    --U-color: var(--bs-danger-bg-subtle);
}

.card-display {
    max-width: 280px;
    transition: .3s;
}

.card-display:hover{
    transform: scale(1.05);
}

.card-display:hover[data-card-rarity="R"]{
    box-shadow: 0 0 12px var(--rare-shadow-color);
}

.card-display:hover[data-card-rarity="U"]{
    box-shadow: 0 0 12px var(--unique-shadow-color);
}

#decklist-cards .row {
    background-size: 125%;
    background-position: 60% 25%;
}

#decklist-cards .row[data-card-rarity="R"] {
    box-shadow: 0 0 4px var(--rare-shadow-color);
}

#decklist-cards .row[data-card-rarity="U"] {
    box-shadow: 0 0 4px var(--unique-shadow-color);
}

#decklist-cards .row button {
    background: var(--bs-body-bg);
}

span.card-row-text {
    max-width: 170px;
}

html[data-bs-theme="light"] .card-name {
    color: black;
}

.card-name {
    text-shadow: 2px 2px 3px var(--bs-body-bg);
}