/* Table */
.table-decks-auto {
    table-layout: auto;
    width: 100%;
}

/* Table rows */
.table-clickable tbody tr {
    cursor: pointer;
}

.faction-col, .legality-col, .public-col, .last-modified-col {
    width: 1%;
    white-space: nowrap;
}

.stats-col {
    width: 1%;
    min-width: 8rem;
    white-space: nowrap;
}
.faction-col {
    min-width: 8rem;
}
.hero-col {
    width: 1%;
    min-width: 12rem;
}
.tags-col {
    width: 12%;
    min-width: 8rem;
}

/* Owner column */
.username-col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Tags column */
td.tags-col { /* we specify `td` here to get higher specificity than the default 0.5rem padding rule */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.tags-col .badge {
    flex: 0 0 auto;
    text-align: center;
}
.tags-container {
    display: flex;
    flex-wrap: wrap; /* Allows the tags to wrap to the next row */
    justify-content: start;
    align-items: center;
    gap: 5px; /* Space between tags */
    overflow: hidden;
    max-height: 2.85rem;
}