#mana-curve-chart {
    width: 500px;
    height: 300px;
}

#distribution-pie-chart {
    width: 500px;
    height: 500px;
}

#card-showcase {
    max-height: 500px;
}

.card-display {
    max-width: 280px;
}
/* 
span.AX {
    background-color: darksalmon;
}

span.BR {
    background-color: firebrick;
    color: white;
}

span.LY {
    background-color: hotpink;
}

span.MU {
    background-color: lightgreen;
}

span.OR {
    background-color: dodgerblue;
    color: white;
}

span.YZ {
    background-color: darkorchid;
    color: white;
} */
