#mana-curve-chart {
    width: 500px;
    height: 300px;
}

#distribution-pie-chart {
    width: 500px;
    height: 500px;
}

#card-showcase {
    max-height: 500px;
}

.card-display {
    max-width: 280px;
}

.accordion-button {
    padding: 9px 9px;
}

.table-clickable tbody tr {
    cursor: pointer;
}

.tooltip img {
    max-height: 400px;
}

.tooltip-inner {
    max-width: 300px;
}

.tooltip.show {
    opacity: 1;
} 