#mana-curve-chart {
    width: 500px;
    height: 300px;
}

#distribution-pie-chart {
    width: 500px;
    height: 500px;
}

#card-showcase {
    max-height: 500px;
}

.card-display {
    max-width: 280px;
}