
{% load i18n %}

<!-- Advanced Card filtering instructions -->
<div class="text-start">
    {% translate "Advanced search filters" %}:
    <ul>
        <!-- Hand cost -->
        <li>{% translate "Hand cost:" %} <code class="inline">hc</code><br>
            {% translate "Operators:" %} <code class="inline">=</code>, <code class="inline">></code>, <code class="inline">>=</code>, <code class="inline"><</code>, <code class="inline"><=</code></code><br>
            {% translate "Value:" %} <code class="inline">{% translate "Number" %}</code>
        </li>
        <!-- Reserve cost -->
        <li>{% translate "Reserve cost:" %} <code class="inline">rc</code><br>
            {% translate "Operators:" %} <code class="inline">=</code>, <code class="inline">></code>, <code class="inline">>=</code>, <code class="inline"><</code>, <code class="inline"><=</code></code><br>
            {% translate "Value:" %} <code class="inline">{% translate "Number" %}</code>
        </li>
        <!-- Abilities -->
        <li>{% translate "Abilities:" %} <code class="inline">x</code><br>
            {% translate "Operators:" %} <code class="inline">:</code><br>
            {% translate "Value:" %} <code class="inline">{% translate "Single word" %}</code>
        </li>
        <!-- Triggers -->
        <li>{% translate "Triggers:" %} <code class="inline">t</code><br>
            {% translate "Operators:" %} <code class="inline">:</code><br>
            {% translate "Values:" %} <code class="inline">etb</code>(<span class="altered-etb"></span>), <code class="inline">hand</code>(<span class="altered-hand"></span>), <code class="inline">reserve</code>(<span class="altered-reserve"></span>), <code class="inline">discard</code>(<span class="altered-discard"></span>), <code class="inline">exhaust</code>(<span class="altered-exhaust"></span>)
        </li>
        <!-- Subtypes -->
        <li>{% translate "Subtypes:" %} <code class="inline">st</code><br>
            {% translate "Operators:" %} <code class="inline">:</code><br>
            {% translate "Value:" %} <code class="inline">{% translate "Single word" %}</code>
        </li>
        <!-- Reference -->
        <li>{% translate "Reference:" %} <code class="inline">ref</code><br>
            {% translate "Operators:" %} <code class="inline">:</code><br>
            {% translate "Value:" %} <code class="inline">{% translate "Card Reference" %}</code>
        </li>
    </ul>
    {% translate "Examples:" %}
    <!-- Examples -->
    <ul>
        <li>{% translate 'Search bureaucrat cards that cost <span class="altered-3"></span>:' %}<br>
            <code class="inline">{% translate "st:bureaucrat hc=3" %}</code>
        </li>
        <li>{% translate 'Search cards with `training` in their name that cost <span class="altered-2"></span>:' %}<br>
            <code class="inline">{% translate "training" %} hc=2</code>
        </li>
        <li>{% translate 'Search cards that cost between <span class="altered-3"></span> and <span class="altered-5"></span> (inclusive):' %}<br>
            <code class="inline">hc>=3 hc<=5</code> {% translate "OR" %} <code class="inline">hc>2 hc<6</code>
        </li>
        <li>{% translate 'Search cards with `anchor` abilities that cost <span class="altered-3"></span> or less from reserve:' %}<br>
            <code class="inline">x:{% translate "anchor" %} rc<=3</code>
        </li>
        <li>{% translate 'Search cards that trigger when played from the hand (<span class="altered-hand"></span>) and that can be discarded (<span class="altered-discard"></span>):' %}<br>
            <code class="inline">t:hand t:discard</code>
        </li>
        <li>{% translate 'Search the card with the reference `ALT_COREKS_B_OR_21_U_2139`:' %}<br>
            <code class="inline">ref:ALT_COREKS_B_OR_21_U_2139</code>
        </li>
    </ul>
</div>