
{% load i18n %}


<!-- Advanced Deck filtering instructions -->
<div class="text-start">
    {% translate "Advanced search filters" %}:
    <ul>
        <!-- Hero -->
        <li>{% translate "Hero:" %} <code class="inline">h</code><br>
            {% translate "Operators:" %} <code class="inline">:</code><br>
            {% translate "Value:" %} <code class="inline">{% translate "Single word" %}</code>
        </li>
        <!-- Creator -->
        <li>{% translate "User:" %} <code class="inline">u</code><br>
            {% translate "Operators:" %} <code class="inline">:</code><br>
            {% translate "Value:" %} <code class="inline">{% translate "Single word" %}</code>
        </li>
    </ul>
    {% translate "Examples:" %}
    <!-- Examples -->
    <ul>
        {% firstof user.username "admin" as username %}
        <li>{% blocktranslate %}Search decks created by the user "{{ username }}":{% endblocktranslate %}<br>
            <code class="inline">u:{{ username }}</code>
        </li>
        <li>{% translate 'Search decks with the hero "Teija" created by the user "Equinox":' %}<br>
            <code class="inline">h:teija u:equinox</code>
        </li>
        <li>{% translate 'Search decks where its the name contains "Starter" with the hero "Kojo":' %}<br>
            <code class="inline">starter h:kojo</code>
        </li>
    </ul>
</div>