
{% load i18n %}

<!-- Manage collection modal -->
<div class="modal altered-style fade" id="importCollectionModal" tabindex="-1" aria-labelledby="importCollectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importCollectionModalLabel">{% translate "Import Collection" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-2">Use a tool like our extension to export your personal collection from the official site:</p>
                <ul>
                    <li>For <a href="https://chromewebstore.google.com/detail/altered-tcg-builder/fhagbomlpphplemfbeiokgaiiknggpgh" target="_blank">Chrome</a></li>
                    <li>For <a href="https://addons.mozilla.org/en-US/firefox/addon/altered-tcg-builder/" target="_blank">Firefox</a></li>
                </ul>
                <label class="form-label" for="collection-list">Collection</label>
                <textarea id="collection-list" class="form-control altered-style mb-2" rows="7" placeholder="3 ALT_CORE_B_AX_01_C&#10;2 ALT_CORE_B_AX_02_C&#10;2 ALT_CORE_B_AX_03_C&#10;3 ALT_CORE_B_AX_04_C&#10;1 ALT_CORE_B_AX_04_R1&#10;..."></textarea>
                <p>The collection will be saved in the browser's local storage and is not refreshed automatically.</p>
                <p class="mb-2">This means that you will need to import your collection again:</p>
                <ul>
                    <li>If there's a change in your collection.</li>
                    <li>If you login from another browser.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline altered-style" data-bs-dismiss="modal">Close</button>
                <button id="save-collection" type="button" class="btn altered-style" data-bs-dismiss="modal">{% translate "Update Collection" %}</button>
            </div>
        </div>
    </div>
</div>