{% extends "base.html" %}

{% block title %}Cards{% endblock %}

{% block content %}

    {% if card_list %}
        {% for card in card_list %}
            <div class="card" style="width: 18rem;">
                <img src="{{ card.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Start a deck</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

{% endblock %}