{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load deck_styles %}


{% block title %}{% translate "Card list" %}{% endblock %}


{% block head %}
    {{ block.super }}
    <!-- utils script to display a toast -->
    <script src="{% static 'js/utils.js' %}"></script>
    <!-- Base styles of this app -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Specific styles for this view -->
    <link rel="stylesheet" href="{% static 'css/card-list.css' %}">
    <!-- jQuery used to add an infinite scroll -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Styles adding the fonts used to display the Altered icons -->
    <link rel="stylesheet" href="{% static 'css/altered-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/alteredicons.css' %}">
    {% if 'Owned' in checked_filters %}
    <style>
        .infinite-item:has(> .card-display .card-in-collection.d-none) {
            display: none !important;
        }
    </style>
    {% endif %}
{% endblock %}


{% block content-div %}class="container-fluid ps-5 mb-5"{% endblock %}


{% block content %}
    <div class="row d-none d-sm-block">
        <h3 class="px-0 my-2">{% translate "Card list" %}</h3>
    </div>
    <div class="row">
        <div class="col-xxxl-10 col-xxl-9 col-lg-8 col-sm-6 col-12 order-sm-1 order-2 px-0">
            <div class="px-0 mb-3 d-block d-sm-none">
                <h3>{% translate "Card list" %}</h3>
            </div>
            <div class="row row-cols-auto align-items-center gy-2 mb-3">
                <!-- Search bar -->
                <div class="col-11 col-sm-12 col-lg-8 col-xl-7 col-xxl-6">
                    <form class="d-flex" role="search" id="querySearchForm">
                        <div class="input-group">
                            <input id="querySearch" type="text" class="form-control" aria-label="Search" value="{{ query }}" placeholder="{% translate 'Search by name or use advanced filters (hc<4 t:hand)' %}" autocapitalize="off">
                            <button class="btn altered-style" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <span class="h-100 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#advancedSearchModal" style="cursor: pointer;">
                        {% translate "Advanced Search" %}&nbsp;<i class="fa fa-circle-info altered-style"></i>
                    </span>
                </div>
            </div>
            <div class="row row-cols-auto align-items-top gy-2 mb-3">
                <!-- Filter dropdown -->
                <div class="col d-flex">
                    <div class="accordion altered-style" id="filterAccordion">
                        <div class="accordion-item altered-style">
                            <h2 class="accordion-header">
                                <button class="accordion-button altered-style collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                                    <i class="fa-solid fa-filter"></i>&nbsp; {% translate "Filters" %}&nbsp; <span class="badge altered-style">{{ checked_filters|length }}</span>&nbsp;
                                </button>
                            </h2>
                            <div id="collapseFilter" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
                                <div class="accordion-body">
                                    <div class="col">
                                        <div class="row row-cols-auto">
                                            <div class="col">
                                                <!-- Faction filters -->
                                                <b>{% translate "Factions" %}</b>
                                                {% include "decks/snippets/filter_checkbox.html" with value="AX" label="Axiom" %}
                                                {% include "decks/snippets/filter_checkbox.html" with value="BR" label="Bravos" %}
                                                {% include "decks/snippets/filter_checkbox.html" with value="LY" label="Lyra" %}
                                                {% include "decks/snippets/filter_checkbox.html" with value="MU" label="Muna" %}
                                                {% include "decks/snippets/filter_checkbox.html" with value="OR" label="Ordis" %}
                                                {% include "decks/snippets/filter_checkbox.html" with value="YZ" label="Yzmir" %}
                                            </div>
                                            <div class="col">
                                                <!-- Rarity filters -->
                                                <b>{% translate "Rarity" %}</b>
                                                {% translate "Common" noop as _ %}{% include "decks/snippets/filter_checkbox.html" with value="C" label="Common" %}
                                                {% translate "Rare" noop as _ %}{% include "decks/snippets/filter_checkbox.html" with value="R" label="Rare" %}
                                                {% translate "Unique" noop as _ %}{% include "decks/snippets/filter_checkbox.html" with value="U" label="Unique" %}
                                            </div>
                                            <div class="col">
                                                <!-- Type filters -->
                                                <b>{% translate "Type" %}</b>
                                                {% translate "Character" noop as _ %}{% include "decks/snippets/filter_checkbox.html" with value="character" label="Character" %}
                                                {% translate "Hero" noop as _ %}{% include "decks/snippets/filter_checkbox.html" with value="hero" label="Hero" %}
                                                {% translate "Landmark Permanent" noop as _ %}{% include "decks/snippets/filter_checkbox.html" with value="landmark_permanent" label="Landmark Permanent" %}
                                                {% translate "Expedition Permanent" noop as _ %}{% include "decks/snippets/filter_checkbox.html" with value="expedition_permanent" label="Expedition Permanent" %}
                                                {% translate "Spell" noop as _ %}{% include "decks/snippets/filter_checkbox.html" with value="spell" label="Spell" %}
                                            </div>
                                            <div class="col">
                                                <!-- Set filters -->
                                                <b>{% translate "Set" %}</b>
    {% for set in sets %}
                                                <div class="form-check">
                                                    <input class="form-check-input altered-style" type="checkbox" value="{{ set.code }}" id="filter{{ set.short_name }}" {% if set.code in checked_filters %}checked{% endif %}>
                                                    <label class="form-check-label d-block user-select-none" for="filter{{ set.short_name }}" style="cursor: pointer;"><span class="{{ set.code }}">{% translate set.name %}</span></label>
                                                </div>
    {% endfor %}
                                            </div>
                                            <div class="col">
                                                <!-- Set filters -->
                                                <b>{% translate "Other" %}</b>
    {% for tag, label in other_filters %}
                                                <div class="form-check">
                                                    <input class="form-check-input altered-style" type="checkbox" value="{{ tag }}" id="filter{{ tag }}" {% if tag in checked_filters %}checked{% endif %}>
                                                    <label class="form-check-label d-block user-select-none" for="filter{{ tag }}" style="cursor: pointer;">{{ label }}</label>
                                                </div>
    {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col text-end">
                                                <button type="submit" class="btn altered-style" id="filterSearchButton">{% translate "Search" %}</button>                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!-- Order dropdown -->
                    <div class="dropdown">
                        <button id="filterOrdering" class="btn altered-style dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="{% translate "Sort by" %}">
                            <i class="fa-solid fa-sort me-2"></i>{% translate "Sort by" %}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end altered-style">
                            <li><a class="dropdown-item {% if not order %}active{% endif %}" href="?{% inject_params request.GET order=None %}">{% translate "Default" %}</a></li>
                            <li><a class="dropdown-item {% if order == 'name' %}active{% endif %}" href="?{% inject_params request.GET order='name' %}">{% translate "Name A-Z" %}</a></li>
                            <li><a class="dropdown-item {% if order == '-name' %}active{% endif %}" href="?{% inject_params request.GET order='-name' %}">{% translate "Name Z-A" %}</a></li>
                            <li><a class="dropdown-item {% if order == 'rarity' %}active{% endif %}" href="?{% inject_params request.GET order='rarity' %}">{% translate "Rarity" %}</a></li>
                            <li><a class="dropdown-item {% if order == 'mana' %}active{% endif %}" href="?{% inject_params request.GET order='mana' %}">{% translate "Hand Cost ASC" %}</a></li>
                            <li><a class="dropdown-item {% if order == '-mana' %}active{% endif %}" href="?{% inject_params request.GET order='-mana' %}">{% translate "Hand Cost DESC" %}</a></li>
                            <li><a class="dropdown-item {% if order == 'reserve' %}active{% endif %}" href="?{% inject_params request.GET order='reserve' %}">{% translate "Reserve Cost ASC" %}</a></li>
                            <li><a class="dropdown-item {% if order == '-reserve' %}active{% endif %}" href="?{% inject_params request.GET order='-reserve' %}">{% translate "Reserve Cost DESC" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button id="recommenderModalTrigger" type="button" class="btn altered-style" data-bs-toggle="modal" data-bs-target="#recommenderModal"><i class="fa-solid fa-wand-magic-sparkles"></i>&nbsp;{% translate "Magic" %}</button>
                </div>
            </div>
            <div class="row gy-3 infinite-container">
                <!-- Card list with infinite scroll -->
    {% for card in card_list %}
        {% with is_released=card.set.is_released %}
                <div class="col-xxxl-2 col-xxl-3 col-xl-4 col-lg-6 col-12 infinite-item d-flex justify-content-center">
                    <div id="display-{{ card.reference }}" class="{% if is_released %}card-display click-animation{% endif %} rounded-3" style="position: relative;"
                        data-card-reference="{{ card.reference }}"
                        data-card-name="{{ card.name }}"
                        data-card-type="{{ card.type }}"
                        data-card-rarity="{{ card.rarity }}"
                        data-card-family="{{ card.get_card_code }}"
                        data-card-image="{% cdn_image_url card.image_url %}"
                        data-card-main-cost="{{ card.stats.main_cost }}"
                        data-card-recall-cost="{{ card.stats.recall_cost }}"
                        {% if not is_released %}
                        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% blocktranslate with set_name=card.set.name %}Unavailable until {{ set_name }} releases{% endblocktranslate %}"
                        {% endif %}
                    >
                        <img src="{% cdn_image_url card.image_url %}" class="card-img-top rounded-3" alt="{{ card.name }}">
            {% if is_released %}
                        <div class="card-badge px-2 py-1 border border-white text-center">
                            <span class="card-in-collection d-none">
                                <span class="collection-count"></span>
                                <i class="fa-regular fa-folder-open"></i>
                                <hr class="my-1">
                            </span>
                            <span class="deck-quantity">{% dict_get all_cards card.reference 0 %}</span>/<span class="max-deck-quantity">3</span>
                        </div>
            {% else %}
                        <div class="card-badge px-2 py-1 border border-white text-center" >
                            <span>🛇</span>
                        </div>
            {% endif %}
                    </div>
                </div>
        {% endwith %}
    {% empty %}
                <p>{% translate "No cards found with the current filter." %}</p>
    {% endfor %}
            </div>

            <div class="my-3 py-3">
                <!-- Pagination for the infinite scroll -->
    {% if page_obj.has_next %}
                <a class="infinite-more-link page-link" href="?{% inject_params request.GET page=page_obj.next_page_number %}" aria-label="Next page"></a>
    {% endif %}
            </div>
        </div>
        <!-- Deck sidebar -->
        <div class="col-xxxl-2 col-xxl-3 col-lg-4 col-sm-6 col-12 order-sm-2 order-1 vh-sm-100 sticky-sm-top d-flex overflow-y-scroll z-0 ps-0 pt-sm-0" style="scrollbar-width: none;">
            <!-- scroll-box -->
            <div id="decklist-column" class="p-3 ps-0 ps-sm-3 w-100">
                <div class="btn-group" role="group" aria-label="My collection">
                    <button type="button" class="btn altered-style mb-3" data-bs-toggle="modal" data-bs-target="#importCollectionModal">{% translate "My Collection" %}</button>
                    <button type="button" class="btn altered-style mb-3" data-bs-toggle="modal" data-bs-target="#manageCollectionModal"><i class="fa-solid fa-gears"></i></button>
                </div>
                <div class="ps-3 pe-1 pt-2 pb-sm-5 pb-3">
                    <div class="row row-cols-auto justify-content-between align-items-center">
                        <a id="startNewDeck" href="{% url "cards" %}" class="btn altered-style mb-3"><i class="fa-solid fa-wrench"></i> {% translate "New deck" %}</a>
                        <div class="dropdown mb-3">
                            <button class="btn altered-style dropdown-toggle {% if not own_decks %}disabled{% endif %}" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="{% translate "Decks" %}">
                                {% translate "Decks" %}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end altered-style">
    {% for deck in own_decks %}
                                <li><a class="dropdown-item" data-faction="{% firstof deck.hero__faction '' %}" href="?deck={{ deck.id }}{% if deck.hero__faction %}&faction={{ deck.hero__faction }}{% endif %}">{{ deck.name }}</a></li>
    {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Deck Name -->
                    <div class="row" id="deck-name-label"><h5 class="px-0">{% translate "Deck Name" %}</h5></div>
                    <div class="row">
                        <input id="deck-name" type="text" maxlength="50" class="form-control" required value="{% if edit_deck.name %}{{ edit_deck.name }}{% else %}{% translate 'Deck' %} {{ own_decks|length|add:'1' }}{% endif %}" aria-labelledby="deck-name-label">
                    </div>
                    <!-- Cards counter-->
                    <div class="row row-cols-auto gx-0 justify-content-center my-2">
                        <span id="cards-count-container" class="user-select-none"><span id="cards-count" class="badge badge-secondary"></span> <span id="cards-count-text"></span></span>
                    </div>
                    <!-- Rarities counter-->
                    <div class="row row-cols-auto gx-0 justify-content-start my-2">
                        <span id="C-count-container" class="me-2 user-select-none"><span id="C-count" class="badge"></span> <span id="C-count-text"></span></span>
                        <span id="R-count-container" class="me-2 user-select-none"><span id="R-count" class="badge"></span> <span id="R-count-text"></span></span>
                        <span id="U-count-container" class="user-select-none"><span id="U-count" class="badge"></span> <span id="U-count-text"></span></span>
                    </div>
                    <!-- Hero -->
                    <div id="hero-sidebar-container" class="{% if not edit_deck.hero %}d-none{% endif %}">
                        <div class="row" id="hero-name-label"><h5 class="px-0">{% translate "Hero" %}</h5></div>
                        <div class="row my-1" id="row-hero" data-bs-toggle="tooltip" {% if not edit_deck.hero %}data-bs-disable="true"{% endif %} data-bs-title="<img src='{% cdn_image_url edit_deck.hero.image_url %}'/>" data-bs-html="true" data-bs-placement="left">
                            <div class="col px-0">
                                <div class="input-group">
                                    <input id="hero-name" type="text" class="card-name form-control user-select-none" value="{{ edit_deck.hero.name }}" data-card-reference="{{ edit_deck.hero.reference }}" disabled style="background-image: url('{% cdn_image_url edit_deck.hero.image_url %}')" aria-labelledby="hero-name-label">
                                    <button class="btn btn-outline altered-style" type="button" id="remove-hero" {% if not edit_deck.hero %}disabled{% endif %} aria-label="Remove hero from deck"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="decklist-cards">
                        <div id="character-sidebar-container" {% if not character_cards %}class="d-none"{% endif %}>
                            {% include "decks/snippets/card_sidebar.html" with title="Characters" type="character" card_list=character_cards %}
                        </div>
                        <div id="spell-sidebar-container" {% if not spell_cards %}class="d-none"{% endif %}>
                            {% include "decks/snippets/card_sidebar.html" with title="Spells" type="spell" card_list=spell_cards %}
                        </div>
                        <div id="permanent-sidebar-container" {% if not permanent_cards %}class="d-none"{% endif %}>
                            {% include "decks/snippets/card_sidebar.html" with title="Permanents" type="permanent" card_list=permanent_cards %}
                        </div>
                    </div>
                </div>
                <!-- Save button -->
                <div class="d-flex position-fixed bottom-0 end-0 z-2 me-auto pb-2 pe-5 gap-2">
                    <button class="btn altered-style" id="save-deck"><i id="changes-warning" class="fa-solid fa-triangle-exclamation"></i> {% translate "Save" %}</button>
    {% if edit_deck %}
                    <a class="btn altered-style" id="view-deck" href="{{ edit_deck.get_absolute_url }}"><i class="fa-solid fa-eye"></i></a>
    {% endif %}
                </div>
                <hr class="altered-style my-0 d-block d-sm-none"/>
            </div>
        </div>
    </div>
    <!-- Advanced search modal -->
    <div class="modal altered-style fade" id="advancedSearchModal" tabindex="-1" aria-labelledby="advancedSearchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="advancedSearchModalLabel">{% translate "Advanced Search" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"><!-- Advanced Deck filtering instructions -->
                    <div class="text-start">
                        {% translate "Advanced search filters" %}:
                        <ul>
                            <!-- Hand cost -->
                            <li>{% translate "Hand cost:" %} <code class="inline">hc</code><br>
                                {% translate "Operators:" %} <code class="inline">=</code>, <code class="inline">></code>, <code class="inline">>=</code>, <code class="inline"><</code>, <code class="inline"><=</code></code><br>
                                {% translate "Value:" %} <code class="inline">{% translate "Number" %}</code>
                            </li>
                            <!-- Reserve cost -->
                            <li>{% translate "Reserve cost:" %} <code class="inline">rc</code><br>
                                {% translate "Operators:" %} <code class="inline">=</code>, <code class="inline">></code>, <code class="inline">>=</code>, <code class="inline"><</code>, <code class="inline"><=</code></code><br>
                                {% translate "Value:" %} <code class="inline">{% translate "Number" %}</code>
                            </li>
                            <!-- Abilities -->
                            <li>{% translate "Abilities:" %} <code class="inline">x</code><br>
                                {% translate "Operators:" %} <code class="inline">:</code><br>
                                {% translate "Value:" %} <code class="inline">{% translate "Single word" %}</code>
                            </li>
                            <!-- Triggers -->
                            <li>{% translate "Triggers:" %} <code class="inline">t</code><br>
                                {% translate "Operators:" %} <code class="inline">:</code><br>
                                {% translate "Values:" %} <code class="inline">etb</code>(<span class="altered-etb"></span>), <code class="inline">hand</code>(<span class="altered-hand"></span>), <code class="inline">reserve</code>(<span class="altered-reserve"></span>), <code class="inline">discard</code>(<span class="altered-discard"></span>), <code class="inline">exhaust</code>(<span class="altered-exhaust"></span>), <code class="inline">passive</code>(<i class="fa-kit fa-altered-i"></i>)
                            </li>
                            <!-- Subtypes -->
                            <li>{% translate "Subtypes:" %} <code class="inline">st</code><br>
                                {% translate "Operators:" %} <code class="inline">:</code><br>
                                {% translate "Value:" %} <code class="inline">{% translate "Single word" %}</code>
                            </li>
                            <!-- Reference -->
                            <li>{% translate "Reference:" %} <code class="inline">ref</code><br>
                                {% translate "Operators:" %} <code class="inline">:</code><br>
                                {% translate "Value:" %} <code class="inline">{% translate "Card Reference" %}</code>
                            </li>
                        </ul>
                        {% translate "Examples:" %}
                        <!-- Examples -->
                        <ul>
                            <li>{% translate 'Search bureaucrat cards that cost <span class="altered-3"></span>:' %}<br>
                                <code class="inline">{% translate "st:bureaucrat hc=3" %}</code>
                            </li>
                            <li>{% translate 'Search cards with `training` in their name that cost <span class="altered-2"></span>:' %}<br>
                                <code class="inline">{% translate "training" %} hc=2</code>
                            </li>
                            <li>{% translate 'Search cards that cost between <span class="altered-3"></span> and <span class="altered-5"></span> (inclusive):' %}<br>
                                <code class="inline">hc>=3 hc<=5</code> {% translate "OR" %} <code class="inline">hc>2 hc<6</code>
                            </li>
                            <li>{% translate 'Search cards with `anchor` abilities that cost <span class="altered-3"></span> or less from reserve:' %}<br>
                                <code class="inline">x:{% translate "anchor" %} rc<=3</code>
                            </li>
                            <li>{% translate 'Search cards that trigger when played from the hand (<span class="altered-hand"></span>) and that can be discarded (<span class="altered-discard"></span>):' %}<br>
                                <code class="inline">t:hand t:discard</code>
                            </li>
                            <li>{% translate 'Search the card with the reference `ALT_COREKS_B_OR_21_U_2139`:' %}<br>
                                <code class="inline">ref:ALT_COREKS_B_OR_21_U_2139</code>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- Manage collection modal -->
    {% include "decks/tooltips/import_collection.html"%}
    <!-- Filter collection modal -->
    <div class="modal altered-style fade" id="manageCollectionModal" tabindex="-1" aria-labelledby="manageCollectionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manageCollectionModalLabel">{% translate "Manage Collection" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <p>
                            <b>Count All Versions of a Card</b><br>
                            Includes reprints (e.g. core + ks, repeated heroes), promos, and alternate art versions in the total card count.
                        </p>
                        <input class="form-check-input altered-style" id="merge-sets-check" type="checkbox">
                        <label class="form-check-label" for="merge-sets-check">Merge</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline altered-style" data-bs-dismiss="modal">{% translate "Close" %}</button>
                    <button id="update-collection-settings" type="button" class="btn altered-style" data-bs-dismiss="modal">{% translate "Save" %}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Recommender modal -->
    <div class="modal altered-style fade" id="recommenderModal" tabindex="-1" aria-labelledby="recommenderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recommenderModalLabel">{% translate "Card recommender" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-start">
                        <div id="recommenderMissingCards" class="status-report d-none">
                            {% translate "Hi! Start your deck by selecting a hero and adding some cards!" %}
                        </div>
                        <div id="recommenderLoading" class="status-report">
                            {% translate "Thinking about your deck..." %}
                        </div>
                        <div id="recommenderResults" class="status-report row d-none gy-3">
                        </div>
                        <div id="recommenderError" class="status-report d-none">
                            <span class="status-message"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <div>Powered by <a href="https://39cards.com/" target="_blank">39cards</a></div>
                    <span class="me-2">This feature is in <strong>beta</strong></span>
                    <button id="recommender-feedback-button" class="btn altered-style" type="submit" data-prefill-username="{{ user.username }}">Feedback</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Simple toaster -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="simple-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body d-flex">
                <span id="toast-text"></span>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <!-- User collection -->
    {{ user.profile.collection|json_script:"user-collection" }}
{% endblock %}


{% block bodyscripts %}
    <!-- utils script to display a toast -->
    <script src="{% static 'js/utils.js' %}"></script>
    <!-- Import deckfmt module -->
    <script src="{% static 'js/altered-deckfmt.umd.cjs' %}"></script>
    <!-- Collections -->
    <script src="{% static 'js/collection-API.js' %}"></script>
    <script src="{% static 'js/card-list-collection.js' %}"></script>
    <!-- Enable tooltips -->
    <script src="{% static 'js/tooltip-enable.js' %}"></script>
    <!-- Card list visualization script -->
    <script src="{% static 'js/card-list.js' %}"></script>
    <!-- Deck sidebar manipulation script -->
    <script src="{% static 'js/deck-sidebar.js' %}"></script>
    <!-- Recommender script -->
    <script src="{% static 'js/recommender.js' %}"></script>
    <!-- Infinite scroll scripts -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onAfterPageLoad: function ($items) {
                initDecklistCount();
                startCollection();
                let cardDisplayElements = document.getElementsByClassName("card-display");
                Array.from(cardDisplayElements).forEach(function(element) {
                    element.addEventListener("click", addCardFromDisplay);
                });
            }
        });
    </script>
    <script>
        const googleFormsURL = (documentId, username) => `https://docs.google.com/forms/d/e/${documentId}/viewform?usp=pp_url&entry.280343752=${encodeURIComponent(username)}`;
        const feedbackDocuments = {
            "AX": "1FAIpQLSeLCd-kgdB4vYsdB_Yckg7l2VVQZ4W4I4HnSj0LMcM02m7Www",
            "BR": "1FAIpQLSf5Xfu_iwXYrn1Ce0ORDsJBuFx9X_uvrjj00xTQ41me4pc0TA",
            "LY": "1FAIpQLSfh6f0ZoRJFm-zGhTjtzByMf4VaZ2VLg1Wa0eAqUbwXI6optA",
            "MU": "1FAIpQLScj16U9CnItlr2EkbWXwyuHwO_rGusY3h-AAVgeO4-kalRp6A",
            "OR": "1FAIpQLSfNKQMdftyVoLfQdqEQ1-sxc82I6X97oeTrkTPAQgEJOLbU7A",
            "YZ": "1FAIpQLSe9AXmj5GTntKTvzR7K3U6mwuU1bMadY04DQKbMpugNYDisJw",
        }
        document.getElementById("recommender-feedback-button").addEventListener("click", event => {
            const username = event.currentTarget.dataset.prefillUsername;
            const faction = document.getElementById("hero-name").dataset.cardReference.split("_").at(-3);
            if (faction == undefined) {
                displaySimpleToast("Select a hero to redirect to the faction's form");
                return;
            }
            let formURL = googleFormsURL(feedbackDocuments[faction], username);
            window.open(formURL, "_blank").focus();
        });
    </script>
    {% comment %} <script src="{% static 'js/scrollToTop.js' %}"></script> {% endcomment %}
{% endblock %}