{% extends "base.html" %}

{% load static %}

{% block title %}Cards{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="row gy-5">

    {% for card in card_list %}
        <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
            <div class="card card-display">
                <img src="{{ card.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">Options</button>
                        <ul class="dropdown-menu">
        {% if card.type == "hero" %}
                            <li><a class="dropdown-item remove-card-trigger" href="{% url 'new-deck' %}?hero={{ card.reference }}">Start a deck</a></li>
        {% else %}
                            <li><a class="dropdown-item remove-card-trigger" href="#" data-card-reference="{{ card.reference }}" data-bs-toggle="modal" data-bs-target="#add-card-modal" data-bs-name="{{ card.name }}" data-bs-reference="{{ card.reference }}">Add to a deck</a></li>
        {% endif %}
                            <li><a class="dropdown-item" href="{{ card.get_official_link }}" target="_blank" rel="noopener noreferrer">Go to details <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No cards are available.</p>
    {% endfor %}
    </div>
    
    {% include "./snippets/pagination.html" %}

    <div class="modal fade" id="add-card-modal" tabindex="-1" aria-labelledby="add-card-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add-card-modalLabel">Add card to deck</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'update-deck' %}" method="post" id="update-deck-form">
                        {% csrf_token %}

                        <label for="{{ form.quantity.id_for_label }}" class="col-form-label">Card:</label>

                        <div class="input-group">
                            <select class="form-select d-inline-flex" id="{{ form.quantity.auto_id }}" name="{{ form.quantity.name }}">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <input id="modal-card-name" name="card-reference" class="form-control{% if form.card_reference.errors %} is-invalid{% endif %}" type="text" aria-label="Cardname" aria-describedby="{{ form.card_reference.name }}-validation" disabled readonly>
                            <input id="modal-card-reference" name="{{ form.card_reference.name }}" type="hidden">
                        </div>
                        <div id="{{ form.card_reference.name }}-validation" class="invalid-feedback">
    {% for error in form.card_reference.errors %}
                            {{error}}<br>
    {% endfor %}
                        </div>                        
                        <div>
                            <label for="{{ form.deck_id.id_for_label }}" class="col-form-label">Deck:</label>
    {% if own_decks %}
                            <select class="form-select d-inline-flex" id="{{ form.deck_id.auto_id }}" name="{{ form.deck_id.name }}">
        {% for deck in own_decks %}
                                <option value="{{ deck.id }}" {% if forloop.first %}selected{% endif %}>{{ deck.name }}</option>
        {% endfor %}
                            </select>
    {% else %}
                            <select class="form-select d-inline-flex" id="{{ form.deck_id.auto_id }}" disabled>
                                <option selected>No decks found</option>
                            </select>
    {% endif %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="update-deck-form" {% if not own_decks%}disabled{% endif %}>Add to deck</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bodyscripts %}
    <script src="{% static 'js/card-list.js' %}"></script>
{% endblock %}