{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load deck_styles %}
{% load markdown_extras %}

{% block title %}{% translate "Deck detail" %}{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="https://unpkg.com/@bitjson/qr-code@1.0.2/dist/qr-code.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <div class="row">
        <div class="col">{{ object.description | markdown | safe }}</div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <i class="fa-solid fa-user"></i> {{ object.owner.username }}
        </div>
        <div class="col" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% blocktranslate with creation=object.created_at|date:'DATE_FORMAT' modification=object.modified_at|date:'DATE_FORMAT' %}Created: {{ creation }}<br>Last modified: {{ modification }}{% endblocktranslate %}" data-bs-html="true">
            <i class="fa-regular fa-calendar"></i> <small>{{ object.modified_at|date:"SHORT_DATE_FORMAT" }}</small>
        </div>
        <div class="col">
    {% if user.is_authenticated %}
            <a role="button" href="{% url 'love-deck-id' pk=object.id %}" class="btn btn-sm {% if is_loved %}btn-danger{% else %}btn-outline-danger{% endif %}">
                <i class="fa-solid fa-heart"></i> {{ object.love_count }}
            </a>
    {% else %}
            <div data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{% translate 'Login to share your love!' %}" data-bs-html="true">
                <a role="button" href="#" class="btn btn-sm btn-outline-danger disabled">
                    <i class="fa-solid fa-heart"></i> {{ object.love_count }}
                </a>
            </div>
    {% endif %}
        </div>
        <div class="col">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-share-nodes"></i> {% translate "Share" %}
                </button>
                <ul class="dropdown-menu">
                    <li id="copy-self-link"><a class="dropdown-item" href="#"><i class="fa-regular fa-copy"></i> {% translate "Copy link" %}</a></li>
                    <li id="copy-decklist"><a class="dropdown-item" href="#"><i class="fa-regular fa-copy"></i> {% translate "Copy decklist" %}</a></li>
                    <li id="share-qr-code"><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#qr-code-modal"><i class="fa-solid fa-qrcode"></i> {% translate "QR Code" %}</a></li>
                    <li id="share-facebook"><a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                    <li id="share-telegram"><a class="dropdown-item" href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}" target="_blank"><i class="fa-brands fa-telegram"></i> Telegram</a></li>
                    <li id="share-twitter"><a class="dropdown-item" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}" target="_blank"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                    <li id="share-whatsapp"><a class="dropdown-item" href="https://wa.me/?text={{ request.build_absolute_uri }}" target="_blank"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
                </ul>
            </div>
        </div>
    {% if object.owner == user %}
        <div class="col">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gears"></i> {% translate "Options" %}
                </button>
                <ul class="dropdown-menu">
                    <li id="edit-deck-metadata"><a class="dropdown-item edit-deck-metadata-trigger" href="#" data-bs-toggle="modal" data-bs-target="#deck-metadata-modal"><i class="fa-solid fa-pen"></i> {% translate "Edit deck fields" %}</a></li>
                    <li id="delete-deck"><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete-deck-modal"><i class="fa-solid fa-trash"></i> {% translate "Delete deck" %}</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="my-3">
        <h3>{% translate "Decklist" %}</h3>
    </div>
    <div class="row">
        <div class="col-3 mb-5">
    {% if object.hero %}
            <img class="img-fluid rounded-4" id="card-showcase" src="{{ object.hero.image_url }}">
    {% elif character_list %}
            <img class="img-fluid rounded-4" id="card-showcase" src="{{ character_list.0.1.image_url}}">
    {% elif spell_list %}
            <img class="img-fluid rounded-4" id="card-showcase" src="{{ spell_list.0.1.image_url}}">
    {% elif permanent_list %}
            <img class="img-fluid rounded-4" id="card-showcase" src="{{ permanent_list.0.1.image_url}}">
    {% endif %}
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p><i class="fa-solid fa-person-hiking"></i> {% translate "Hero" %}</p>
                    <table class="table table-striped table-hover card-table" id="hero-table" aria-describedby="Deck hero">
                        <thead>
                            <tr>
                                <th scope="col">{% translate "Name" %}</th>
                                <th scope="col">{% translate "Faction" %}</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
    {% if object.hero %}
                            <tr class="table-light" data-image-url="{{ object.hero.image_url }}">
                                <td>{{ object.hero.name }}</td>
                                <td>{{ object.hero.get_faction_display.title }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: .01rem;"></button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{ object.hero.get_official_link }}" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-arrow-up-right-from-square"></i> {% translate "Go to details" %}</a></li>
        {% if object.owner == user %}
                                            <li><a class="dropdown-item remove-card-trigger" href="#" data-card-reference="{{ object.hero.reference }}"><i class="fa-solid fa-trash"></i> {% translate "Remove card" %}</a></li>
        {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
    {% else %}
                            <tr><td colspan="2" class="text-center">{% translate "No hero" %}</td></tr>
    {% endif %}
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <p><i class="fa-solid fa-people-group"></i> {% translate "Characters" %}</p>
                    {% include "./snippets/card_table.html" with type="character" card_list=character_list %}
                </div>

                <div class="col">
                    <p><i class="fa-solid fa-hat-wizard"></i> {% translate "Spells" %}</p>
                    {% include "./snippets/card_table.html" with type="spell" card_list=spell_list %}
                </div>

                <div class="col">
                    <p><i class="fa-solid fa-landmark"></i> {% translate "Permanents" %}</p>
                    {% include "./snippets/card_table.html" with type="permanent" card_list=permanent_list %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="border-bottom mb-4">
            <h3>{% translate "Stats" %}</h3>
        </div>
        <div class="col">
            <h5>{% translate "Card Type Distribution" %}</h5>
            <div id="distribution-pie-chart"></div>
        </div>
        <div class="col">
            <h5>{% translate "Rarity distribution" %}</h5>
            <table class="table table-striped table-sm mb-5" aria-describedby="Rarity distribution">
                <thead>
                    <tr>
                        <th scope="col">{% translate "Rarity" %}</th>
                        <th scope="col">{% translate "Count" %}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>{% translate "Common" %}</td>
                        <td>{{ stats.rarity_distribution.common }}</td>
                    </tr>
                    <tr>
                        <td>{% translate "Rare" %}</td>
                        <td>{{ stats.rarity_distribution.rare }}</td>
                    </tr>
                    <tr>
                        <td>{% translate "Unique" %}</td>
                        <td>{{ stats.rarity_distribution.unique }}</td>
                    </tr>
                </tbody>
            </table>
            <h5>{% translate "Probability of drawing" %}</h5>
            <table class="table table-striped table-sm mb-5" id="probability-table" aria-describedby="Probability to draw">
                <thead>
                    <tr>
                        <th scope="col">{% translate "Type" %}</th>
                        <th scope="col">{% translate "Anytime" %}</th>
                        <th scope="col">{% translate "Initial hand" %}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>{% translate "Characters" %}</td>
                        <td id="characters-anytime-draw"></td>
                        <td id="characters-initial-draw"></td>
                    </tr>
                    <tr>
                        <td>{% translate "Spells" %}</td>
                        <td id="spells-anytime-draw"></td>
                        <td id="spells-initial-draw"></td>
                    </tr>
                    <tr>
                        <td>{% translate "Permanents" %}</td>
                        <td id="permanents-anytime-draw"></td>
                        <td id="permanents-initial-draw"></td>
                    </tr>
                </tbody>
            </table>
            <h5>{% translate "Format legality" %}</h5>
            <table class="table table-striped table-sm" id="probability-table" aria-describedby="Probability to draw">
                <thead>
                    <tr>
                        <th scope="col">{% translate "Format" %}</th>
                        <th scope="col">{% translate "Is it legal?" %}</th>
                        <th scope="col">{% translate "Notes" %}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>Standard</td>
    {% if object.is_standard_legal %}
                        <td>{% translate "Yes" %}</td>
                        <td></td>
    {% else %}
                        <td>{% translate "No" %}</td>
                        <td>
        {% for error in legality.standard.errors %}
                            {{ error }}<br>
        {% endfor %}
                        </td>
    {% endif %}
                    </tr>
                    <tr>
                        <td>Draft</td>
    {% if object.is_draft_legal %}
                        <td>{% translate "Yes" %}</td>
                        <td></td>
    {% else %}
                        <td>{% translate "No" %}</td>
                        <td>
        {% for error in legality.draft.errors %}
                            {{ error }}<br>
        {% endfor %}
                        </td>
    {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h5>{% translate "Mana curve" %}</h5>
            <div id="mana-curve-chart" class="mt-4"></div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="simple-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body d-flex">
                <span id="toast-text"></span>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="deck-metadata-modal" tabindex="-1" aria-labelledby="deck-metadata-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deck-metadata-modalLabel">{% translate "Edit deck" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'update-deck-metadata' pk=object.id %}" method="post" id="update-deck-metadata-form">
                        {% csrf_token %}
                        
                        {{ form }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                    <button type="submit" class="btn btn-primary" form="update-deck-metadata-form">{% translate "Apply" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-deck-modal" tabindex="-1" aria-labelledby="delete-deck-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-deck-modalLabel">{% translate "Delete deck" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% translate "Are you sure you want to delete this deck?" %}<br>{% translate "It won't be possible to recover it later." %}
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</a>
                    <a type="button" class="btn btn-danger" href="{% url 'delete-deck-id' pk=object.id %}">{% translate "Delete" %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="qr-code-modal" tabindex="-1" aria-labelledby="qr-code-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="qr-code-modalLabel">{% translate "Deck QR Code" %}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <qr-code id="deck-qr-code" contents="{{ request.build_absolute_uri }}" squares="true"></qr-code>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</a>
                    <a id="copy-qr-svg" type="button" class="btn btn-primary">{% translate "Copy" %}</a>
                    <a id="download-qr-svg" type="button" class="btn btn-primary">{% translate "Download" %}</a>
                </div>
            </div>
        </div>
    </div>

    <article id="decklist-text" data-decklist="{{ decklist }}"></article>
    {% csrf_token %}
    {{ stats|json_script:"deck-stats" }}
{% endblock %}

{% block bodyscripts %}
    <script src="{% static 'js/deck-detail.js' %}"></script>
    <script src="{% static 'js/deck-stats.js' %}"></script>
    <script src="{% static 'js/tooltip-enable.js' %}"></script>
{% endblock %}