{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h3>{% translate "Public decks" %}</h3>
        <table class="table table-hover table-clickable" id="publicDecksTable" aria-describedby="Public decks">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">{% translate "Owner" %}</th>
                    <th scope="col">{% translate "Name" %}</th>
                    <th scope="col">{% translate "Faction" %}</th>
                    <th scope="col">{% translate "Hero" %}</th>
                    <th scope="col" class="text-center">
                        <a data-bs-toggle="tooltip" data-bs-title="Standard | Draft">
                            {% translate "Legality" %} <i class="fa-regular fa-circle-question"></i>
                        </a>
                    </th>
                    <th scope="col">{% translate "Last updated" %}</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
    {% for deck in deck_list %}
                <tr data-href="{% url 'deck-detail' pk=deck.id %}">
                    <td>
                        <a role="button" href="#" class="btn btn-sm btn-outline-danger disabled">
                            <i class="fa-solid fa-heart"></i> {{ deck.love_count }}
                        </a>
                    </td>
                    <td>{{ deck.owner.username }}</td>
                    <td>{{ deck.name }}</td>
        {% if deck.hero %}
                    <td>{{ deck.hero.get_faction_display.title }}</td>
                    <td><span class="d-inline-block" data-bs-toggle="tooltip" data-bs-title="<img src='{{ deck.hero.image_url }}'/>" data-bs-html="true" data-bs-placement="right">{{ deck.hero.name }}</span></td>
        {% else %}
                    <td>-</td><td>-</td>
        {% endif %}
                    <td class="text-center">{% if deck.is_standard_legal %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark"></i>{% endif %} | {% if deck.is_draft_legal %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark"></i>{% endif %}</td>
                    <td>{% blocktranslate with time_since=deck.modified_at|timesince %}{{ time_since }} ago{% endblocktranslate %}</td>
                </tr>
    {% endfor %}
            </tbody>
        </table>

    {% include "./snippets/pagination.html" %}

    {% if own_decks %}
        <h3>{% translate "My decks" %}</h3>
        <table class="table table-hover table-clickable" id="ownDecksTable" aria-describedby="Own decks">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">{% translate "Name" %}</th>
                    <th scope="col">{% translate "Faction" %}</th>
                    <th scope="col">{% translate "Hero" %}</th>
                    <th scope="col" class="text-center">
                        <a data-bs-toggle="tooltip" data-bs-title="Standard | Draft">
                            {% translate "Legality" %} <i class="fa-regular fa-circle-question"></i>
                        </a>
                    </th>
                    <th scope="col" class="text-center">{% translate "Is it public?" %}</th>
                    <th scope="col">{% translate "Last updated" %}</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
        {% for deck in own_decks %}
                <tr data-href="{% url 'deck-detail' pk=deck.id %}">
                    <td>
                        <a role="button" href="#" class="btn btn-sm btn-outline-danger disabled">
                            <i class="fa-solid fa-heart"></i> {{ deck.love_count }}
                        </a>
                    </td>
                    <td>{{ deck.name }}</td>
            {% if deck.hero %}
                    <td>{{ deck.hero.get_faction_display.title }}</td>
                    <td><span class="d-inline-block" data-bs-toggle="tooltip" data-bs-title="<img src='{{ deck.hero.image_url }}'/>" data-bs-html="true" data-bs-placement="right">{{ deck.hero.name }}</span></td>
            {% else %}
                    <td>-</td><td>-</td>
            {% endif %}
                    <td class="text-center">{% if deck.is_standard_legal %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark"></i>{% endif %} | {% if deck.is_draft_legal %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-xmark"></i>{% endif %}</td>
                    <td class="text-center">{% if deck.is_public %}<i class="fa-solid fa-check"></i>{% endif %}</td>
                    <td>{% blocktranslate with time_since=deck.modified_at|timesince %}{{ time_since }} ago{% endblocktranslate %}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-primary" href="{% url 'own-deck' %}">{% translate "See full list" %}</a>
        </div>
    {% endif %}
    </div>
{% endblock %}


{% block bodyscripts %}
    <script src="{% static 'js/deck-list.js' %}"></script>
    <script src="{% static 'js/tooltip-enable.js' %}"></script>
{% endblock %}