{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load deck_styles %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <h3>{% translate "Public decks" %}</h3>
    <div class="row row-cols-auto">
        <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5 col-xl-4 col-xxl-4">
            <form class="d-flex" role="search" id="querySearchForm">
                <input class="form-control me-2" type="search" aria-label="Search" id="querySearch" value="{{ query }}" placeholder="{% translate 'Search by deck or hero name' %}">
                <button class="btn btn-outline-secondary" type="submit">{% translate "Search" %}</button>
            </form>
        </div>
        <div class="accordion col" id="filterAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                        <i class="fa-solid fa-filter"></i>&nbsp; {% translate "Filters" %}&nbsp; <span class="badge text-bg-secondary">{{ checked_filters|length }}</span>&nbsp; 
                    </button>
                </h2>
                <div id="collapseFilter" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
                    <div class="accordion-body">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <b>{% translate "Factions" %}</b>
                                    {% include "./snippets/filter_checkbox.html" with value="AX" label="Axiom" %}
                                    {% include "./snippets/filter_checkbox.html" with value="BR" label="Bravos" %}
                                    {% include "./snippets/filter_checkbox.html" with value="LY" label="Lyra" %}
                                    {% include "./snippets/filter_checkbox.html" with value="MU" label="Muna" %}
                                    {% include "./snippets/filter_checkbox.html" with value="OR" label="Ordis" %}
                                    {% include "./snippets/filter_checkbox.html" with value="YZ" label="Yzmir" %}
                                </div>
                                <div class="col">
                                    <b>{% translate "Legality" %}</b>
                                    {% translate "Standard" noop as _ %}{% include "./snippets/filter_checkbox.html" with value="standard" label="Standard" %}
                                    {% translate "Draft" noop as _ %}{% include "./snippets/filter_checkbox.html" with value="draft" label="Draft" %}
                                </div>
                                <div class="col">
                                    <b>{% translate "Other" %}</b>
                                    <div class="form-check">
    {% if user.is_authenticated %}
                                        <input class="form-check-input" type="checkbox" value="loved" id="filterLoved" {% if "loved" in checked_filters %}checked{% endif %}>
                                        {% translate "Loved" noop as _ %}<label class="form-check-label" for="filterLoved"><span class="loved"><i class="fa-solid fa-heart"></i></span></label>
    {% else %}
                                        <a data-bs-toggle="tooltip" data-bs-title="{% translate 'Login to save your loved decks!' %}" data-bs-html="true">
                                            <input class="form-check-input" type="checkbox" value="loved" id="filterLoved" disabled>
                                            {% translate "Loved" noop as _ %}<label class="form-check-label" for="filterLoved"><span class="loved"><i class="fa-solid fa-heart"></i></span></label>
                                        </a>
    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col text-end">
                                    <button type="submit" class="btn btn-primary" id="filterSearchButton">{% translate "Search" %}</button>                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% with request.GET|deck_params_to_filter_tag as tags %}
        {% for tag, value in tags %}
        <div class="col px-0 d-flex align-items-center">
            <span class="badge text-bg-secondary">{% translate tag %}: {% translate value %}</span>&nbsp;
        </div>
        {% endfor %}
    {% endwith %}
    </div>
    {% if user.is_superuser %}
        {% include "./snippets/public_deck_table.html" with table_id="lovedDecksTable" deck_list=most_loved %}
        {% include "./snippets/public_deck_table.html" with table_id="trendingDecksTable" deck_list=trending %}
    {% endif %}
    {% include "./snippets/public_deck_table.html" with table_id="publicDecksTable" deck_list=deck_list %}

    {% include "./snippets/pagination.html" %}
{% endblock %}


{% block bodyscripts %}
    <script src="{% static 'js/deck-list.js' %}"></script>
    <script src="{% static 'js/tooltip-enable.js' %}"></script>
{% endblock %}