{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load deck_styles %}

{% block title %}{% translate "Home" %}{% endblock %}
{% block meta_title %}{% translate "Home" %}{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/deck-list.css' %}">
{% endblock %}

{% block content %}
    <h3>{% translate "Trends from the last 7 days" %}</h3>
    <div class="row">
        <div class="col">
            Popularity according to faction
            <div id="faction-pie-chart" style="min-height: 300px"></div>
        </div>
        <div class="col">
            Popularity according to hero
            <div id="hero-pie-chart" style="min-height: 300px"></div>
        </div>
        <div class="col">
            Card popularity
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
    {% for card in card_trends%}
                    <tr>
        {% with faction_img="img/"|add:card.card__faction|add:".png" %}
                        <td><img src="{% static faction_img %}" style="max-width: 20px;"> {{ card.name }}</td>
        {% endwith %}
                        <td>{{ card.count }}</td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h3>{% translate "Trending decks" %}</h3>
    {% include "decks/snippets/public_deck_table.html" with table_id="trendingDecksTable" deck_list=trending %}

    {{ faction_trends|json_script:"faction-trends"}}
    {{ hero_trends|json_script:"hero-trends"}}
    {{ card_trends|json_script:"card-trends"}}
{% endblock %}


{% block bodyscripts %}
    <script src="{% static 'js/deck-list.js' %}"></script>
    <script src="{% static 'js/trending.js' %}"></script>
    <script src="{% static 'js/tooltip-enable.js' %}"></script>
{% endblock %}