{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load deck_styles %}

{% block title %}{% translate "Home" %}{% endblock %}
{% block meta_title %}{% translate "Home" %}{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/deck-list.css' %}">
{% endblock %}

{% block content %}
    <h3>{% translate "Trends from the last 7 days" %}</h3>
    <div class="row">
        <div class="col">
            Popularity according to faction
            <div id="faction-pie-chart" style="min-height: 300px"></div>
        </div>
        <div class="col">
            Popularity according to hero
            <div id="hero-pie-chart" style="min-height: 300px"></div>
        </div>
        <div class="col">
            Card popularity
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
    {% for card in card_trends%}
                    <tr>
        {% with faction_img="img/"|add:card.card__faction|add:".png" %}
                        <td><img src="{% static faction_img %}" style="max-width: 20px;"> {{ card.name }}</td>
        {% endwith %}
                        <td>{{ card.count }}</td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h3>{% translate "Trending decks" %}</h3>
    {% include "decks/snippets/public_deck_table.html" with table_id="trendingDecksTable" deck_list=trending %}

    {{ faction_trends|json_script:"faction-trends"}}
    {{ hero_trends|json_script:"hero-trends"}}
    {% comment %} <script id="faction-trends" type="application/json">{"MU": 24, "YZ": 22, "OR": 20, "LY": 16, "AX": 12, "BR": 12}</script>
    <script id="hero-trends" type="application/json">{"Lindiwe \u0026 Maw": ["YZ", 11], "Teija \u0026 Nauraa": ["MU", 10], "Subhash \u0026 Marmo": ["AX", 9], "Arjun \u0026 Spike": ["MU", 9], "Fen \u0026 Crowbar": ["LY", 8], "Sigismar \u0026 Wingspan": ["OR", 8], "Waru \u0026 Mack": ["OR", 6], "Basira \u0026 Kaizaimon": ["BR", 6], "Gulrang \u0026 Tocsin": ["OR", 6], "Nevenka \u0026 Blotch": ["LY", 6], "Akesha \u0026 Taru": ["YZ", 6], "Atsadi \u0026 Surge": ["BR", 5], "Rin \u0026 Orchid": ["MU", 5], "Afanas \u0026 Senka": ["YZ", 5], "Treyst \u0026 Rossum": ["AX", 3], "Auraq \u0026 Kibble": ["LY", 2], "Kojo \u0026 Booda": ["BR", 1]}</script>
    <script id="card-trends" type="application/json">{"Baba Yaga": 24, "Hydracaena": 21, "Ordis Carrier": 21, "Kodama": 20, "The Spindle, Muna Bastion": 20, "Daughter of Yggdrasil": 19, "Meditation Training": 19, "Spindle Harvesters": 18, "Banishing Gate": 18, "Magical Training": 18}</script> {% endcomment %}
{% endblock %}


{% block bodyscripts %}
    <script src="{% static 'js/deck-list.js' %}"></script>
    <script src="{% static 'js/trending.js' %}"></script>
    <script src="{% static 'js/tooltip-enable.js' %}"></script>
{% endblock %}