{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% translate "New Deck" %}{% endblock %}
{% block meta_title %}{% translate "New Deck" %}{% endblock %}

{% block content-div %}
class="container py-4"
{% endblock %}


{% block content %}
    <h2>{% translate "Import a Deck" %}</h2>

    <div class="row my-4">
        <!-- Deck Builder ID field -->
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">{% translate "From the official deck builder" %}</h3>
                    <p class="card-text">{% translate "If you have a public deck on the official deck builder, input the deck's link or ID below to prefill your decklist:" %}</p>
                    <form id="load_deck_form" class="needs-validation" novalidate>
                        <label for="official_deck_id" class="form-label">{% translate "Official Deck" %}</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control altered-style" id="official_deck_id" name="deck_builder_id" placeholder="{% translate "Enter the deck's link or its ID" %}" aria-describedby="deck_builder_id-validation" required autocapitalize="off">
                            <button class="btn altered-style" type="submit" id="load_deck">
                                <span id="load-icon" class="spinner-border spinner-border-sm" aria-hidden="true" hidden></span>
                                <i id="ready-icon" class="fa-solid fa-arrow-right-to-bracket"></i>
                            </button>
                            <div id="deck_builder_id-validation" class="invalid-feedback"></div>
                        </div>
                        <small id="deck-builder-id-help" class="form-text text-muted">{% translate "This will automatically fill the fields with the official deck." %}</small>
                    </form>
                    
                </div>
                <div class="card-body  align-items-center mb-4">
                    <div class="accordion altered-style" id="tutorial-accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#reference-tutorial" aria-expanded="false" aria-controls="reference-tutorial">
                                    {% translate "How can I get the ID of a deck?" %}
                                </button>
                            </h2>
                            <div id="reference-tutorial" class="accordion-collapse collapse">
                                <div class="accordion-body p-0">
                                    <figure class="m-0">
                                        <img class="border-bottom img-fluid" src="{% static "img/deck_guide.png"%}">
                                        <figcaption class="pb-2 text-center text-muted">{% blocktranslate %}A deck's ID is the characters on the right of the URL.<br>Or you could simply input the whole link.{% endblocktranslate %}</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#disclaimer" aria-expanded="true" aria-controls="disclaimer">
                                    {% translate "How can I make a deck public?" %}
                                </button>
                            </h2>
                            <div id="disclaimer" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div class="mb-3 text-center"><strong>{% translate "It seems that as of late this might be unnecessary. It's worth to try and import a deck directly without going through this process." %}</strong></div>
                                    <figure class="m-0">
                                        <img class="border-bottom img-fluid" src="{% static "img/public_guide.png"%}">
                                        <figcaption class="pb-2 text-center text-muted">{% blocktranslate %}After clicking on the pencil, modify the checkbox so that it's public.{% endblocktranslate %}</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{% translate "From another platform" %}</h3>
                    <form action="{% url 'new-deck' %}" method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <!-- Name field -->
                        <p>{% translate "Use a cool name for your deck:" %}</p>
                        <div class="row mb-3">
                            <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">{% translate "Name" %}</label>
                            <div class="col-auto has-validation">
                                <input id="{{ form.name.auto_id }}" type="text" name="{{ form.name.name }}" maxlength="{{ form.fields.name.max_length }}" class="form-control altered-style{% if form.name.errors %} is-invalid{% endif %}" aria-describedby="{{ form.name.name }}-validation" required value="{% firstof form.name.value '' %}">
                                <div id="{{ form.name.name }}-validation" class="invalid-feedback">
                        {% for error in form.name.errors %}
                                    {{error}}<br>
                        {% empty %}
                                    {% translate "Please name your deck" %}<br>
                        {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- Description field -->
                        <p>{% url 'markdown' as md_url %}{% blocktranslate %}Optionally, add a description/explanation of your deck (feel free to use <a href="{{ md_url }}">markdown</a>):{% endblocktranslate %}</p>
                        <div class="mb-3">
                            <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">{% translate "Description" %}</label>
                            <textarea class="form-control altered-style {% if form.description.errors %}is-invalid{% endif %}" id="{{ form.description.auto_id }}" cols="10" rows="5" maxlength="{{ form.fields.description.max_length }}" name="{{ form.description.name }}" aria-describedby="{{ form.description.name }}-validation">{% firstof form.description.value "" %}</textarea>
                            <div id="{{ form.description.name }}-validation" class="invalid-feedback">
                        {% for error in form.description.errors %}
                                {{error}}<br>
                        {% endfor %}
                            </div>
                        </div>

                        <!-- Decklist field -->
                        <p>{% translate "Paste a decklist. Do follow ExAltered's decklist format:" %}</p>
                        <div class="mb-3">
                            <label for="{{ form.decklist.id_for_label }}" class="form-label">{% translate "Decklist" %}</label>
                            <textarea class="form-control altered-style{% if form.decklist.errors %} is-invalid{% endif %}" id="{{ form.decklist.auto_id }}" cols="10" rows="12" maxlength="{{ form.fields.decklist.max_length }}" name="{{ form.decklist.name }}" aria-describedby="{{ form.decklist.name }}-validation" required placeholder="1 ALT_CORE_B_LY_01_C&#10;2 ALT_CORE_B_LY_06_C&#10;1 ALT_CORE_B_LY_06_R1&#10;3 ALT_CORE_B_LY_09_R1&#10;...">{% firstof form.decklist.value "" %}</textarea>
                            <div id="{{ form.decklist.name }}-validation" class="invalid-feedback">
                        {% for error in form.decklist.errors %}
                                {{error}}<br>
                        {% empty %}
                                {% translate "Please write your decklist" %}<br>
                        {% endfor %}
                            </div>
                        </div>

                        <!-- Visibility field -->
                        <p>{% translate "Do you want your deck to be public?" %}</p>
                        <div class="row mb-2">
                            <div class="col-sm-10 offset-sm-1">
                                <div class="form-check">
                                    <input id="{{ form.is_public.auto_id }}" class="form-check-input altered-style" type="checkbox" name="{{ form.is_public.name }}" {% if form.is_public.value %}checked{% endif %}>
                                    <label class="form-check-label" for="{{ form.is_public.id_for_label }}">{% translate "Public" %}</label>
                                </div>
                            </div>
                        </div>
                        <input id="{{ form.copy_of.auto_id }}" type="hidden" name="{{ form.copy_of.name }}" value="{{ form.copy_of.value }}">

                        <button id="submit-new-deck" type="submit" class="btn altered-style">{% translate "Import" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block bodyscripts %}
    <script src="{% static 'js/deck-validation.js' %}"></script>
    <script src="{% static 'js/deck-import.js' %}"></script>
{% endblock %}
