
{% load i18n %}

{{ form.non_field_errors  }}

<div class="row mb-3">
    <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">{% translate "Name" %}</label>
    <div class="col-auto has-validation">
        <input id="{{ form.name.auto_id }}" type="text" name="{{ form.name.name }}" maxlength="50" class="form-control{% if form.name.errors %} is-invalid{% endif %}" aria-describedby="{{ form.name.name }}-validation" required value="{{ form.name.initial }}">
        <div id="{{ form.name.name }}-validation" class="invalid-feedback">
{% for error in form.name.errors %}
            {{error}}<br>
{% empty %}
            {% translate "Please name your deck" %}<br>
{% endfor %}
        </div>
    </div>
</div>

<div class="mb-3">
    <label for="{{ form.description.id_for_label }}" class="col-form-label">{% translate "Description" %} (<a href="https://www.markdownguide.org/cheat-sheet/">markdown</a>)</label>
    <textarea class="form-control{% if form.description.errors %} is-invalid{% endif %}" id="{{ form.description.auto_id }}" cols="10" rows="5" maxlength="{{ form.fields.description.max_length }}" name="{{ form.description.name }}" aria-describedby="{{ form.description.name }}-validation">{{ form.description.initial }}</textarea>
    <div id="{{ form.description.name }}-validation" class="invalid-feedback">
{% for error in form.description.errors %}
        {{error}}<br>
{% endfor %}
    </div>
</div>

<p>{% translate "Visibility" %}</p>
<div class="row mb-2">
    <div class="col-sm-10 offset-sm-1">
        <div class="form-check">
            <input id="{{ form.is_public.auto_id }}" class="form-check-input" type="checkbox" name="{{ form.is_public.name }}" {% if form.is_public.initial %}checked{% endif %}>
            <label class="form-check-label" for="{{ form.is_public.id_for_label }}">{% translate "Public" %}</label>
        </div>
    </div>
</div>