{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load deck_styles %}

{% block title %}{% translate "Home" %}{% endblock %}
{% block meta_title %}{% translate "Home" %}{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/trends.css' %}">
    <link rel="stylesheet" href="{% static 'css/deck-list.css' %}">
{% endblock %}

{% block content %}
    <h3>{% translate "Trends from the last 7 days" %}</h3>
    <p>Statistics extracted daily from the public decks modified within the last 7 days.<br>Click on the faction and hero pie charts to narrow down the results!</p>
    <div class="row mt-4">
        <div class="col">
            <h5>{% translate "Popular Factions" %}</h5>
            <div id="faction-pie-chart" style="min-height: 300px"></div>
        </div>
        <div class="col">
            <h5>{% translate "Popular Heroes" %}</h5>
            <div id="hero-pie-chart" style="min-height: 300px"></div>
        </div>
        <div class="col">
            <h5>{% translate "Popular Cards" %}</h5>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>{% translate "Name" %}</th>
                    </tr>
                </thead>
                <tbody>
    {% for trend in card_trends %}
                    <tr>
                        <td>
        {% if trend.prev_ranking == trend.ranking %}
                            <i class="fa-solid fa-equals"></i>
        {% elif trend.prev_ranking < trend.ranking %}
                            <i class="fa-solid fa-chevron-down"></i>
        {% else %}
                            <i class="fa-solid fa-chevron-up"></i>
        {% endif %}
                        </td>
        {% with faction_img="img/"|add:trend.card.faction|add:".png" %}
                        <td>
                            <img src="{% static faction_img %}" style="max-width: 20px;">
                            <span class="d-inline-block" data-bs-offset="0,55" data-bs-toggle="tooltip" data-bs-title="<img src='{{ trend.card.image_url }}'/>" data-bs-html="true" data-bs-placement="left">{{ trend.card.name }}</span>
                            <link rel="prefetch" href="{{ trend.card.image_url }}"/>
                        </td>
        {% endwith %}
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h3>{% translate "Trending decks" %}</h3>
    {% include "decks/snippets/public_deck_table.html" with table_id="trendingDecksTable" deck_list=trending %}

    {{ faction_trends|json_script:"faction-trends"}}
    {{ hero_trends|json_script:"hero-trends"}}
{% endblock %}


{% block bodyscripts %}
    <script src="{% static 'js/deck-list.js' %}"></script>
    <script src="{% static 'js/trending.js' %}"></script>
    <script src="{% static 'js/tooltip-enable.js' %}"></script>
{% endblock %}