{% extends "base.html" %}

{% load cache %}
{% load static %}
{% load i18n %}
{% load deck_styles %}


{% block head %}
    {{ block.super }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/trends.css' %}">
    <link rel="stylesheet" href="{% static 'css/deck-list.css' %}">
{% endblock %}


{% block content %}
    {% get_current_language as LANGUAGE_CODE %}

    {% comment %} <div class="container mt-3" id="release-container">
        <div class="accordion my-3" id="releaseAccordion">
            <div class="accordion-item shadow">
                <h2 class="accordion-header">
                    <button id="releaseButton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#releaseDescription" aria-expanded="true" aria-controls="releaseDescription">
                        {% blocktranslate %}Release notes {{ version }}{% endblocktranslate %}
                        <span id="releaseNotificationAlert" class="translate-middle p-1 bg-danger border border-light rounded-circle ms-2" hidden></span>
                    </button>
                </h2>
                <div id="releaseDescription" class="accordion-collapse collapse" data-bs-parent="#releaseAccordion" data-release="{{ version }}">
                    <div class="accordion-body">
                            {% include "releases/"|add:version|add:".html" %}
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="row mt-4">
        <div class="col-lg-4 col-md-6 mb-4">
            <h3 class="mb-0">{% translate "Popular Factions" %}</h3>
            <hr class="altered-style mt-1 mb-2"/>
            <div class="card shadow">
                <div class="card-body">
                    <div id="faction-pie-chart" style="min-height: 306px"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <h3 class="mb-0">{% translate "Popular Heroes" %}</h3>
            <hr class="altered-style mt-1 mb-2"/>
            <div class="card shadow">
                <div class="card-body">
                    <div id="hero-pie-chart" style="min-height: 306px"></div>
                </div>
            </div>
        </div>
    {% cache 600 card_trends LANGUAGE_CODE request.GET %}
        <div class="col-lg-4 mb-4">
            <h3 class="mb-0">{% translate "Popular Cards" %}</h3>
            <hr class="altered-style mt-1 mb-2"/>
            <div class="card shadow">
                <div class="card-body d-flex justify-content-between" style="height: 338px;">
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{% translate "Name" %}</th>
                                </tr>
                            </thead>
                            <tbody>
        {% for trend in card_trends %}
                                <tr class="card-hover" data-image-url="{% cdn_image_url trend.card.image_url %}">
                                    <td>
            {% if trend.prev_ranking > trend.ranking or not trend.prev_ranking %}
                                        <i class="fa-solid fa-chevron-up"></i>
            {% elif trend.prev_ranking < trend.ranking %}
                                        <i class="fa-solid fa-chevron-down"></i>
            {% endif %}
                                    </td>
                                    <td>
                                        <span class="d-inline-block">
                                        {% include "decks/snippets/picture_webp.html" with img_name=trend.card.faction width=24 height=24 %}
                                        {% include "decks/snippets/picture_webp.html" with img_name=trend.card.get_rarity_display width=20 height=11 %}
                                            <span class="card-name user-select-all" data-card-rarity="{{ trend.card.rarity }}">{{ trend.card.name }}</span>
                                        </span>
                                        <link rel="prefetch" href="{% cdn_image_url trend.card.image_url %}"/>
                                    </td>
                                </tr>
        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="image-container d-none d-xl-block">
                        <img class="img-fluid rounded-4" id="card-showcase" src="{% cdn_image_url card_trends.0.card.image_url %}">
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
    </div>

    <h3 class="mb-0">{% translate "Trending decks" %}</h3>
    <hr class="altered-style mt-1 mb-2"/>
    <div id="trendingDecks" class="row">
        {% include "decks/snippets/public_decks_display.html" with decks=deck_trends %}
    </div>
    {% comment %} <script>
        function showReleaseDescription() {
            document.getElementById("releaseButton").classList.remove("collapsed");
            document.getElementById("releaseDescription").classList.add("show");
        }
        document.addEventListener("DOMContentLoaded", function() {
            let lastMinimizedRelease = localStorage.getItem("releaseMinimized");
            if (lastMinimizedRelease === null) {
                showReleaseDescription();
                return;
            }
            let currentRelease = document.getElementById("releaseDescription").dataset.release.split(".");
            lastMinimizedRelease = lastMinimizedRelease.split(".");
            
            if (lastMinimizedRelease[0] !== currentRelease[0] || lastMinimizedRelease[1] !== currentRelease[1]) {
                showReleaseDescription();
                localStorage.removeItem("releaseMinimized");
                return;
            }
            if (lastMinimizedRelease[2] !== currentRelease[2]) {
                document.getElementById("releaseNotificationAlert").hidden = false;
                return;
            }
        });
        document.getElementById("releaseDescription").addEventListener("hidden.bs.collapse", event => {
            localStorage.setItem("releaseMinimized", event.currentTarget.dataset.release);
        });
        document.getElementById("releaseDescription").addEventListener("shown.bs.collapse", event => {
            localStorage.removeItem("releaseMinimized");
        });
    </script> {% endcomment %}
    <script>

        let deckRows = document.querySelectorAll(".card-hover");
        deckRows.forEach(function(element) {
            element.addEventListener("mouseover", function() {
                // Change the display image to show the current (or last) card hovered
                if (element.dataset.imageUrl !== undefined) {
                    document.getElementById("card-showcase").src = element.dataset.imageUrl;
                }
            });
        });
    </script>

    {{ faction_trends|json_script:"faction-trends"}}
    {{ hero_trends|json_script:"hero-trends"}}
{% endblock %}


{% block bodyscripts %}
    <script src="{% static 'js/deck-list.js' %}"></script>
    <script src="{% static 'js/trending.js' %}"></script>
    <script src="{% static 'js/tooltip-enable.js' %}"></script>
{% endblock %}
