{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load deck_styles %}


{% block head %}
    {{ block.super }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/trends.css' %}">
    <link rel="stylesheet" href="{% static 'css/deck-list.css' %}">
{% endblock %}


{% block content %}

    <div class="container mt-3" id="release-container">
        <div class="accordion my-3" id="releaseAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="releaseButton" class="accordion-button bg-info-subtle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#releaseDescription" aria-expanded="true" aria-controls="collapseOne">
                        {% blocktranslate %}Release notes {{ version }}{% endblocktranslate %}
                    </button>
                </h2>
                <div id="releaseDescription" class="accordion-collapse collapse bg-info-subtle" data-bs-parent="#releaseAccordion" data-release="{{ version }}">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            {% include "releases/"|add:version|add:".html" %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>{% translate "Trends from the last 7 days" %}</h3>
    <p>{% translate "The statistics are extracted daily from the public legal decks modified within the last 7 days.<br>Click on the faction and hero pie charts to narrow down the results!" %}</p>
    <div class="row mt-4">
        <div class="col">
            <h5>{% translate "Popular Factions" %}</h5>
            <div id="faction-pie-chart" style="min-height: 300px"></div>
        </div>
        <div class="col">
            <h5>{% translate "Popular Heroes" %}</h5>
            <div id="hero-pie-chart" style="min-height: 300px"></div>
        </div>
        <div class="col">
            <h5>{% translate "Popular Cards" %}</h5>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>{% translate "Name" %}</th>
                    </tr>
                </thead>
                <tbody>
    {% for trend in card_trends %}
                    <tr>
                        <td>
        {% if trend.prev_ranking > trend.ranking %}
                            <i class="fa-solid fa-chevron-up"></i>
        {% elif trend.prev_ranking < trend.ranking %}
                            <i class="fa-solid fa-chevron-down"></i>
        {% endif %}
                        </td>
                        <td>
                            <span class="d-inline-block" data-bs-offset="0,30" data-bs-toggle="tooltip" data-bs-title="<img src='{{ trend.card.image_url }}'/>" data-bs-html="true" data-bs-placement="left">
                            {% include "decks/snippets/picture_webp.html" with img_name=trend.card.faction width=24 height=24 %}
                            {% include "decks/snippets/picture_webp.html" with img_name=trend.card.get_rarity_display width=20 height=11 %}
                            <span class="card-name user-select-all" data-card-rarity="{{ trend.card.rarity }}">{{ trend.card.name }}</span>
                        </span>       
                            <link rel="prefetch" href="{{ trend.card.image_url }}"/>
                        </td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h3>{% translate "Trending decks" %}</h3>
    {% include "decks/snippets/public_deck_table.html" with table_id="trendingDecksTable" deck_list=trending %}
    <script>
        function showReleaseDescription() {
            document.getElementById("releaseButton").classList.remove("collapsed");
            document.getElementById("releaseDescription").classList.add("show");
        }
        document.addEventListener("DOMContentLoaded", function() {
            let lastMinimizedRelease = localStorage.getItem("releaseMinimized");
            if (lastMinimizedRelease === null) {
                showReleaseDescription();
                return;
            }
            if (lastMinimizedRelease !== document.getElementById("releaseDescription").dataset.release) {
                showReleaseDescription();
                localStorage.removeItem("releaseMinimized");
                return;
            }
        });
        document.getElementById("releaseDescription").addEventListener("hidden.bs.collapse", event => {
            localStorage.setItem("releaseMinimized", event.currentTarget.dataset.release);
        });
        document.getElementById("releaseDescription").addEventListener("shown.bs.collapse", event => {
            localStorage.removeItem("releaseMinimized");
        });
    </script>

    {{ faction_trends|json_script:"faction-trends"}}
    {{ hero_trends|json_script:"hero-trends"}}
{% endblock %}


{% block bodyscripts %}
    <script src="{% static 'js/deck-list.js' %}"></script>
    <script src="{% static 'js/trending.js' %}"></script>
    <script src="{% static 'js/tooltip-enable.js' %}"></script>
{% endblock %}