
:root {
    --C-shadow-color: gray;
    --R-shadow-color: #058196;
    --U-shadow-color: #ff5e00fd;
    --C-color: var(--bs-body-bg);
    --R-color: var(--bs-info-bg-subtle);
    --U-color: var(--bs-danger-bg-subtle);
    --AX-color: #7e4b36;
    --BR-color: #ff1a1a;
    --LY-color: #d12358;
    --MU-color: #4c7245;
    --OR-color: #00628b;
    --YZ-color: #483b66;
}

html[data-bs-theme="light"] {
    --general-bg-color: #FFFEFC;
    --navbar-bg-color: #FDF8E7;
    --navbar-a-bg-active-color: #DDBF5F;
    --navbar-a-active-color: #3D331D;
    --navbar-a-inactive-color: #625948;
    --new-notification-bg: var(--bs-info-bg-subtle);
}
html[data-bs-theme="dark"] {
    --general-bg-color: #625948;
    --navbar-bg-color: #332811;
    --navbar-a-bg-active-color: #DDBF5F;
    --navbar-a-active-color: #3D331D;
    --navbar-a-inactive-color: #FDF8E7;
    --new-notification-bg: rgba(var(--bs-secondary-rgb), 1);
}


/* BODY STYLE */
body {
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    background-color: var(--general-bg-color);
}

.gabriela-regular {
    font-family: "Gabriela", serif;
    font-weight: 400;
    font-style: normal;
}


/* NAVIGATION BAR */
nav.navbar {
    background-color: var(--navbar-bg-color);
}

.navbar-brand {
    color: var(--navbar-a-inactive-color);
}

li.nav-item {
    border-radius: 16px;
}

li.nav-item>a, li.nav-item .dropdown-item {
    color: var(--navbar-a-inactive-color);
}

li.nav-item.current-nav-tab {
    background-color: var(--navbar-a-bg-active-color);
}

li.nav-item:hover, li.nav-item .dropdown-item:hover {
    background-color: var(--navbar-a-bg-active-color);
}

li.nav-item:hover>a, li.nav-item .dropdown-item:hover {
    color: var(--navbar-a-active-color);
}

li.nav-item .dropdown-item.active {
    background-color: var(--navbar-a-bg-active-color);
}

li.nav-item.current-nav-tab a {
    color: var(--navbar-a-active-color);
}

.navbar img.logo {
    max-height: 40px;
    margin-top: -12px;
    margin-right: 5px;
}

html[data-bs-theme="light"] .navbar img.logo {
    filter: drop-shadow(0 0 5px #175457);
}

.new-notification {
    background-color: var(--new-notification-bg);
}


/* FOOTER */
footer h5 {
    letter-spacing: 2px;
    color: var(--navbar-a-inactive-color);
}

footer {
    background-color: var(--navbar-bg-color);
}

footer a {
    color: var(--navbar-a-inactive-color);
}

footer a.no-underline {
    text-decoration: none;
}


/* FAVORITES */
i.fa-star {
    color: rgb(255, 193, 7); /* text-warning */
}