
:root {
    --C-shadow-color: gray;
    --R-shadow-color: #058196;
    --U-shadow-color: #ff5e00fd;
    --C-color: var(--bs-body-bg);
    --R-color: var(--bs-info-bg-subtle);
    --U-color: var(--bs-danger-bg-subtle);
}

body {
    font-family: Verdana, Tahoma, Geneva, sans-serif;
}

footer h5 {
    letter-spacing: 2px;
    color: #818963;
}

footer a {
    color: #4f4f4f;
}

footer a.no-underline {
    text-decoration: none;
}

#navbar-traversal li.nav-item {
    border-color: #058196 !important;
}