
.fa-chevron-up {
    color: green;
}

.fa-equals {
    color:GoldenRod;
}

.fa-chevron-down {
    color: red;
}

#releaseButton,#releaseDescription {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-a-inactive-color);
}