
{% load i18n %}
{% load deck_styles %}

<!-- Display a list of Card objects -->
<table class="table table-hover card-table" id="{{ type }}-table" aria-describedby="Available {{ type }}s">
    <thead>
        <!-- Each card simply displays its quantity, name and mana cost -->
        <tr>
            <th scope="col">Q</th>
            <th scope="col">{% translate "Name" %}</th>
            <th scope="col">{% translate "Mana" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
{% for quantity, card in card_list %}
        <tr class="{% get_row_color_from_rarity card.get_rarity_display %} card-hover" data-rarity="{{ card.get_rarity_display }}" data-image-url="{{ card.image_url }}" data-faction="{{ card.faction }}">
            <link rel="prefetch" href="{{ card.image_url }}"/>
            <td>{{ quantity }}</td>
            <td>{{ card.name }}</td>
            <td><span class="hand-mana altered-{{ card.stats.main_cost }}"></span>/<span class="reserve-mana altered-{{ card.stats.recall_cost }}"></span></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="--bs-btn-padding-y: .01rem;"></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ card.get_official_link }}" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-arrow-up-right-from-square"></i> {% translate "Go to details" %}</a></li>
                        <li><a class="dropdown-item card-reference-container" href="#" data-card-reference="{{ card.reference }}"><i class="fa-regular fa-copy"></i> {% translate "Copy card reference" %}</a></li>
    {% if object.owner == user %}
                        <li><a class="dropdown-item remove-card-trigger" href="#" data-card-reference="{{ card.reference }}"><i class="fa-solid fa-trash"></i> {% translate "Remove card" %}</a></li>
    {% endif %}
                    </ul>
                </div>
            </td>
        </tr>
{% empty %}
        <tr><td colspan="4" class="text-center">{% blocktranslate %}No {{ type }}s{% endblocktranslate %}</td></tr>
{% endfor %}
    </tbody>
</table>