
{% load i18n %}

<div class="row">
    <div class="col-12 mb-4">
        <div id="{{ set_id }}-card" class="card">
            <div class="card-body">
                <h2 class="card-title">{{ set_name }}</h2>
                <hr class="altered-style mt-1 mb-2">
                <p class="card-text mt-4 mb-1 ">
                    <strong>{% translate "Breakdown of owned cards by rarity" %}</strong>
                </p>
                <div class="d-flex justify-content-start table-responsive">
                    <table class="table  table-sm w-auto">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Owned</th>
                                <th scope="col">Total</th>
                                <th scope="col">Progress</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">Hero</th>
                                <td><span id="{{ set_id }}-owned-hero-count">0</span></td>
                                <td><span id="{{ set_id }}-total-hero-count"></span></td>
                                <td>
                                    <div class="progress">
                                        <div
                                            id="{{ set_id }}-hero-progress"
                                            class="progress-bar" 
                                            role="progressbar" 
                                            style="width: 0%;" 
                                            aria-valuenow="0" 
                                            aria-valuemin="0" 
                                            aria-valuemax="100">
                                            0%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Common</th>
                                <td><span id="{{ set_id }}-owned-common-count">0</span></td>
                                <td><span id="{{ set_id }}-total-common-count"></span></td>
                                <td>
                                    <div class="progress">
                                        <div
                                            id="{{ set_id }}-common-progress"
                                            class="progress-bar" 
                                            role="progressbar" 
                                            style="width: 0%;" 
                                            aria-valuenow="0" 
                                            aria-valuemin="0" 
                                            aria-valuemax="100">
                                            0%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Rare</th>
                                <td><span id="{{ set_id }}-owned-rare-count">0</span></td>
                                <td><span id="{{ set_id }}-total-rare-count"></span></td>
                                <td>
                                    <div class="progress">
                                        <div
                                            id="{{ set_id }}-rare-progress"
                                            class="progress-bar" 
                                            role="progressbar" 
                                            style="width: 0%;" 
                                            aria-valuenow="0" 
                                            aria-valuemin="0" 
                                            aria-valuemax="100">
                                            0%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Unique<sup>1</sup></th>
                                <td><span id="{{ set_id }}-owned-unique-count">0</span></td>
                                <td><span id="{{ set_id }}-total-unique-count"></span></td>
                                <td>
                                    <div class="progress">
                                        <div
                                            id="{{ set_id }}-unique-progress"
                                            class="progress-bar" 
                                            role="progressbar" 
                                            style="width: 0%;" 
                                            aria-valuenow="0" 
                                            aria-valuemin="0" 
                                            aria-valuemax="100">
                                            0%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="table-group-divider">
                            <tr>
                                <th scope="row">Total</th>
                                <td><span id="{{ set_id }}-owned-count">0</span></td>
                                <td><span id="{{ set_id }}-total-count"></span></td>
                                <td>
                                    <div class="progress">
                                        <div
                                            id="{{ set_id }}-all-progress"
                                            class="progress-bar" 
                                            role="progressbar" 
                                            style="width: 0%;" 
                                            aria-valuenow="0" 
                                            aria-valuemin="0" 
                                            aria-valuemax="100">
                                            0%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <p class="card-text mt-4 mb-1 ">
                    <strong>Chances to get a new card (not owned)</strong>
                </p>
                <div class="d-flex justify-content-start table-responsive">
                    <table class="table table-striped table-sm w-auto">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Chances</th>
                                <th scope="col">Booster count</th>
                                <th scope="col">Chances excluding uniques</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">Hero</th>
                                <td><span id="{{ set_id }}-new-hero-chance">100</span>%</td>
                                <td><span id="{{ set_id }}-new-hero-booster-block">1 in <span id="{{ set_id }}-new-hero-booster">1</span> packs</span><span id="{{ set_id }}-new-hero-booster-zero-block" class="d-none">0 in &infin; packs</span></td>
                                <td><span id="{{ set_id }}-new-no-unique-hero-chance">100</span>%</td>
                            </tr>
                            <tr>
                                <th scope="row">Common</th>
                                <td><span id="{{ set_id }}-new-common-chance">100</span>%</td>
                                <td><span id="{{ set_id }}-new-common-booster-block">1 in <span id="{{ set_id }}-new-common-booster">1</span> packs</span><span id="{{ set_id }}-new-common-booster-zero-block" class="d-none">0 in &infin; packs</span></td>
                                <td><span id="{{ set_id }}-new-no-unique-common-chance">100</span>%</td>
                            </tr>
                            <tr>
                                <th scope="row">Rare</th>
                                <td><span id="{{ set_id }}-new-rare-chance">100</span>%</td>
                                <td><span id="{{ set_id }}-new-rare-booster-block">1 in <span id="{{ set_id }}-new-rare-booster">1</span> packs</span><span id="{{ set_id }}-new-rare-booster-zero-block" class="d-none">0 in &infin; packs</span></td>
                                <td><span id="{{ set_id }}-new-no-unique-rare-chance">100</span>%</td>
                            </tr>
                            <tr>
                                <th scope="row">Unique</th>
                                <td>12.50%</td>
                                <td>1 in 8 packs</td>
                                <td>0.00%</td>
                            </tr>
                        </tbody>
                        <tfoot class="table-group-divider">
                            <tr>
                                <th scope="row">Total</th>
                                <td><span id="{{ set_id }}-new-card-chance">100</span>%</td>
                                <td>1 in <span id="{{ set_id }}-new-card-booster">1</span> packs</td>
                                <td><span id="{{ set_id }}-new-no-unique-card-chance"></span>%</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <p class="card-text mt-4 mb-1 ">
                    <strong>Chances to get a new card towards a complete playset (3 of each card or 1 unique)</strong>
                </p>
                <div class="d-flex justify-content-start table-responsive">
                    <table class="table table-striped table-sm w-auto">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Chances</th>
                                <th scope="col">Booster count</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">Common</th>
                                <td><span id="{{ set_id }}-playset-common-chance">100</span>%</td>
                                <td><span id="{{ set_id }}-playset-common-booster-block">1 in <span id="{{ set_id }}-playset-common-booster">1</span> packs</span><span id="{{ set_id }}-playset-common-booster-zero-block" class="d-none">0 in &infin; packs</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Rare</th>
                                <td><span id="{{ set_id }}-playset-rare-chance">100</span>%</td>
                                <td><span id="{{ set_id }}-playset-rare-booster-block">1 in <span id="{{ set_id }}-playset-rare-booster">1</span> packs</span><span id="{{ set_id }}-playset-rare-booster-zero-block" class="d-none">0 in &infin; packs</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Unique<sup>1</sup></th>
                                <td><span id="{{ set_id }}-playset-unique-chance">12.50</span>%</td>
                                <td><span id="{{ set_id }}-playset-unique-booster-block">1 in <span id="{{ set_id }}-playset-unique-booster">1</span> packs</span><span id="{{ set_id }}-playset-unique-booster-zero-block" class="d-none">0 in &infin; packs</span></td>
                            </tr>
                        </tbody>
                        <tfoot class="table-group-divider">
                            <tr>
                                <th scope="row">Total</th>
                                <td><span id="{{ set_id }}-playset-card-chance">100</span>%</td>
                                <td><span id="{{ set_id }}-playset-card-booster-block">1 in <span id="{{ set_id }}-playset-card-booster">1</span> packs</span><span id="{{ set_id }}-playset-card-booster-zero-block" class="d-none">0 in &infin; packs</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <p class="card-text">
                    <small><sup>1</sup> {% blocktranslate %}The count and chances of unique cards is considered by name. Therefore two different unique cards with the same name count as a single copy of it.<br>For example, a unique "Ganesha" in Muna and another one in Axiom only count as a single card towards the complete playset of unique cards.{% endblocktranslate %}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>