{% load static %}
{% load deck_styles %}

{% for deck in decks %}
    <div class="col-xxl-3 col-lg-4 col-md-6 col-12 infinite-item user-select-none">
    {% if deck.hero %}
        <div class="deck-display my-2 rounded position-relative" data-faction="{{ deck.hero.faction }}" onclick="location.href='{{ deck.get_absolute_url }}';" style="background-image: radial-gradient(circle, #FFF0, #0008), url({{ deck.hero.display_image_url }});">
    {% else %}
        <div class="deck-display my-2 rounded position-relative" data-faction="{{ deck.hero.faction }}" onclick="location.href='{{ deck.get_absolute_url }}';" style="background-image: radial-gradient(circle, #FFF0, #0008), url({% static 'img/ALT_OFFICIAL_CARDBACK.png' %}); background-position: 0% 50%;">
    {% endif %}
            <div class="position-absolute top-0 start-0 mt-2 ms-2">
                <h4 class="shadowed">{{ deck.name }}</h4>
                <small class="shadowed">{% if deck.is_followed %}<i class="fa-solid fa-star"></i> {% endif %}{{ deck.owner.username|safe_username }}</small><br>
    {% for tag in deck.tags.all %}
        {% if tag.type == "TY" %}
                <span class="badge primary shadowed altered-style me-2">{{ tag.name }}</span>
        {% else %}
                <span class="badge secondary shadowed altered-style me-2">{{ tag.name }}</span>
        {% endif %}
        {% if forloop.last %}
                <br>
        {% endif %}
    {% endfor %}
                <small class="shadowed"><i class="fa-solid fa-calendar"></i>&nbsp;{{ deck.modified_at|date }}</small>
            </div>
            <div class="position-absolute bottom-0 start-0 ms-2 mb-2">
    {% comment %} {% if deck.hero %}
                {% include "decks/snippets/picture_webp.html" with img_name="avatars/AX_AXIOM" width=20 height=20 %}
    {% endif %} {% endcomment %}
    {% if deck.is_standard_legal %}
                <i class="fa-regular fa-circle-check shadowed"></i>
    {% elif deck.is_nuc_legal or deck.is_doubles_legal %}
                <i class="fa-regular fa-circle-check exalts-legal shadowed"></i>
    {% else %}
                <i class="fa-regular fa-circle-xmark shadowed"></i>
    {% endif %}
    {% if not deck.is_public %}
                <i class="fa-solid fa-lock ms-2 shadowed"></i>
    {% endif %}
            </div>
            <div class="position-absolute bottom-0 end-0 me-2 mb-2">
                <!-- Amount of hits -->
                <span class="me-2 shadowed"><i class="fa-solid fa-eye"></i> {{ deck.hit_count_generic.first.hits }}</span>
                <!-- Amount of likes -->
                <span class="me-2 shadowed"><i class="fa-solid fa-heart"></i> {{ deck.love_count }}</span>
                <!-- Amount of comments -->
                <span class="shadowed"><i class="fa-solid fa-comment"></i> {{ deck.comment_count }}</span>
            </div>
        </div>
    </div>
{% endfor %}