
{% load i18n %}
{% load static %}
{% load deck_styles %}

<table class="table table-hover table-clickable" id="{{ table_id }}" aria-describedby="Public decks">
    <thead>
        <tr>
            <th scope="col" style="width: 8%"></th>
            <th scope="col" style="width: 10%">{% translate "Owner" %}</th>
            <th scope="col">{% translate "Name" %}</th>
            <th scope="col" style="width: 10%">{% translate "Faction" %}</th>
            <th scope="col" style="width: 15%">{% translate "Hero" %}</th>
            <th scope="col" style="width: 8%" class="text-center">
                <a data-bs-toggle="tooltip" data-bs-title='{% include "decks/tooltips/legality.html" %}' data-bs-html="true">
                    {% translate "Legality" %} <i class="fa-regular fa-circle-question"></i>
                </a>
            </th>
            <th scope="col" style="width: 13%">{% translate "Last updated" %}</th>
        </tr>
    </thead>
    <tbody class="table-group-divider align-middle {% if table_id == 'publicDecksTable' %}infinite-container{% endif %}">
{% for deck in deck_list %}
        <tr {% if table_id == 'publicDecksTable' %}class="infinite-item"{% endif %} data-href="{% url 'deck-detail' pk=deck.id %}">
            <td>
    {% if user.is_superuser %}
        {% with hits=deck.hit_count_generic.first.hits %}
                <a role="button" href="#" class="btn btn-sm btn-outline-secondary disabled {% if hits < 10 %}me-3{% else %}me-2{% endif %}">
                    <i class="fa-solid fa-eye"></i> {{ hits }}
                </a>
        {% endwith %}
    {% endif %}
                <a role="button" href="#" class="btn btn-sm btn-outline-danger {% if deck.id in loved_decks %}active{% else %}disabled{% endif %}">
                    <i class="fa-solid fa-heart"></i> {{ deck.love_count }}
                </a>
                <a role="button" href="#" class="btn btn-sm btn-outline-secondary {% if deck.comment_count > 0 %}active{% else %}disabled{% endif %}">
                    <i class="fa-solid fa-comment"></i> {{ deck.comment_count }}
                </a>
            </td>
            <td>{{ deck.owner.username|safe_username }}</td>
            <td>{{ deck.name }}</td>
    {% if deck.hero %}
            <td>
                {% include "decks/snippets/picture_webp.html" with img_name=deck.hero.faction width=20 height=20 %} {{ deck.hero.get_faction_display.title }}
            </td>
            <td>
                <link rel="prefetch" href="{{ deck.hero.image_url }}"/>
                <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-title="<img src='{{ deck.hero.image_url }}'/>" data-bs-html="true" data-bs-placement="right">{{ deck.hero.name }}</span>
            </td>
    {% else %}
            <td>-</td><td>-</td>
    {% endif %}
            <td class="text-center">{% if deck.is_standard_legal %}<i class="fa-regular fa-circle-check"></i>{% elif deck.is_exalts_legal %}<i class="fa-regular fa-circle-check exalts-legal"></i>{% else %}<i class="fa-regular fa-circle-xmark"></i>{% endif %}</td>
            <td>{% blocktranslate with time_since=deck.modified_at|timesince %}{{ time_since }} ago{% endblocktranslate %}</td>
        </tr>
{% empty %}
        <tr class="text-center"><td colspan="7">{% translate "No decks were found with the current filters" %}</td></tr>
{% endfor %}
    </tbody>
</table>