{% extends "base.html" %}

{% load static %}
{% load markdown_extras %}

{% block title %}Troubleshoot deck descriptions{% endblock %}


{% block content %}
    <h3>Deck descriptions</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Owner</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Public</th>
                <th scope="col">Last updated</th>
            </tr>
        </thead>
        <tbody>
    {% for deck in deck_list %}
            <tr>
                <td>{{ deck.id }}</td>
                <td>{{ deck.owner.username }}</td>
                <td>{{ deck.name }}</td>
                <td>{{ deck.description }}</td>
                <td>{{ deck.is_public }}</td>
                <td>{{ deck.modified_at|timesince }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}