{% extends "base.html" %}

{% load i18n %}


{% block title %}{% translate "Edit Profile" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% translate "Edit Profile" %}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="{{ form.bio.auto_id }}" class="col-form-label">{% url 'markdown' as md_url %}{% blocktranslate %}Biography (feel free to use <a href="{{ md_url }}">markdown</a>):{% endblocktranslate %}</label>
                <textarea class="form-control {% if form.bio.errors %}is-invalid{% endif %}" name="{{ form.bio.name }}" cols="{{ form.bio.subwidgets.0.data.attrs.cols }}" rows="{{ form.bio.subwidgets.0.data.attrs.rows }}" maxlength="{{ form.fields.bio.max_length }}" id="{{ form.bio.auto_id }}" aria-describedby="{{ form.bio.name }}-validation">{{ form.bio.value }}</textarea>
                <div id="{{ form.bio.name }}-validation" class="invalid-feedback">
    {% for error in form.bio.errors %}
                    {{error}}<br>
    {% endfor %}
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="{{ form.altered_handle.auto_id }}" class="col-sm-2 col-form-label">{% translate "Altered handle:" %}</label>
                <div class="col-auto has-validation">
                    <input type="text" name="{{ form.altered_handle.name }}" value="{{ form.altered_handle.value }}" id="{{ form.altered_handle.auto_id }}" class="form-control{% if form.altered_handle.errors %} is-invalid{% endif %}" aria-describedby="{{ form.altered_handle.name }}-validation">
                    <div id="{{ form.altered_handle.name }}-validation" class="invalid-feedback">
    {% for error in form.altered_handle.errors %}
                        {{error}}<br>
    {% endfor %}
                    </div>
                </div>
            </div>
    {% if request.user.profile.discord_handle %}
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-1">
                    <div class="form-check">
                        <label class="form-check-label" for="{{ form.discord_public.auto_id }}">{% translate "Make your Discord handle public?" %}</label>
                        <input class="form-check-input" type="checkbox" name="{{ form.discord_public.name }}" id="{{ form.discord_public.auto_id }}" name="{{ form.discord_public.name }}" {% if form.discord_public.value %}checked{% endif %}>
                    </div>
                </div>
            </div>
    {% endif %}
            <button type="submit" class="btn btn-primary">{% translate "Save Changes" %}</button>
        </form>
    </div>
{% endblock %}
