{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load deck_styles %}
{% load markdown_extras %}


{% block title %}{% translate "Profile of " %}{{ builder.username|safe_username }}{% endblock %}

{% block meta_title %}{% translate "Profile of " %}{{ builder.username|safe_username }}{% endblock %}

{% block content-div %}
class="container mt-5"
{% endblock %}

{% block content %}
    <div class="row">
        <!-- User Info -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">{{ builder.username|safe_username }}</h2>
                    <p class="text-muted">Joined on: {{ builder.date_joined|date:"F j, Y" }}</p>
                    <p class="mb-0">{{ builder.follower_count }} Followers</p>
                    <p>{{ builder.following_count }} Following</p>
    {% if request.user == builder %}
                    <a href="{% url 'profile-edit' %}" class="btn btn-primary btn-block mt-2">{% translate "Edit Profile" %}</a>
    {% elif builder.is_followed %}
                    <a href="{% url 'profile-unfollow' builder.profile.code %}" class="btn btn-primary btn-block mt-2">{% translate "Unfollow" %}</a>
    {% else %}
                    <a href="{% url 'profile-follow' builder.profile.code %}" class="btn btn-primary btn-block mt-2">{% translate "Follow" %}</a>
    {% endif %}
    {% if builder.profile.altered_handle %}
                    <a href="https://www.altered.gg/profile/{{ builder.profile.altered_handle }}" class="btn btn-dark btn-block mt-2" target="_blank"><img src="{% static "img/altered.webp" %}" alt="altered logo" width="20px"> {{ builder.profile.altered_handle }}</a>
    {% endif %}
                </div>
            </div>
        </div>

        <!-- Bio and Decks -->
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    <h5 class="mb-0">{% translate "Bio" %}</h5>
                </div>
                <div class="card-body">
                    <p>{{ builder.profile.bio | escape | markdown | safe }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-success text-white">
                    <h5 class="mb-0">{% blocktranslate with username=builder.username|safe_username %}Decks by {{ username }}{% endblocktranslate %}</h5>
                </div>
                <ul class="list-group list-group-flush">
    {% for deck in deck_list %}
                    <a href="{{ deck.get_absolute_url }}" class="text-decoration-none text-dark">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="mb-1">{{ deck.name }}</h6>
                                <p class="small mb-0">{{ deck.description|truncatechars:85 }}</p>
                            </div>
                            <div class="text-end">
                                    {% comment %} <span class="badge bg-primary rounded-pill">{{ deck.hit_count_generic.first.hits }} views</span> {% endcomment %}
                                <p class="small text-muted mb-0">{{ deck.modified_at|date:"F j, Y" }}</p>
                            </div>
                        </li>
                    </a>
    {% empty %}
                    <li class="list-group-item">{% translate "No decks found." %}</li>
    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
