{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load deck_styles %}
{% load markdown_extras %}


{% block title %}{% translate "Profile of " %}{{ builder.username|safe_username }}{% endblock %}

{% block meta_title %}{% translate "Profile of " %}{{ builder.username|safe_username }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/altered-icons.css' %}">
{% endblock %}

{% block content-div %}
class="container mt-5"
{% endblock %}

{% block content %}
    <div class="row">
        <!-- User Info -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">{{ builder.username|safe_username }}</h2>
                    <p class="text-muted">Joined on: {{ builder.date_joined|date:"F j, Y" }}</p>
                    <p class="mb-0">{{ builder.follower_count }} Followers</p>
                    <p>{{ builder.following_count }} Following</p>
    {% if request.user == builder %}
                    <a href="{% url 'profile-edit' %}" class="btn btn-primary btn-block mt-2">{% translate "Edit Profile" %}</a>
    {% elif builder.is_followed %}
                    <a href="{% url 'profile-unfollow' builder.profile.code %}" class="btn btn-primary btn-block mt-2">{% translate "Unfollow" %}</a>
    {% else %}
                    <a href="{% url 'profile-follow' builder.profile.code %}" class="btn btn-primary btn-block mt-2">{% translate "Follow" %}</a>
    {% endif %}
    {% if builder.profile.altered_handle %}
                    <a href="https://www.altered.gg/profile/{{ builder.profile.altered_handle }}" class="btn btn-dark btn-block mt-2" target="_blank"><img src="{% static "img/altered.webp" %}" alt="altered logo" width="20px"> {{ builder.profile.altered_handle }}</a>
    {% endif %}
                </div>
            </div>
        </div>

        <!-- Bio and Decks -->
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    <h5 class="mb-0">{% translate "Bio" %}</h5>
                </div>
                <div class="card-body">
                    <p>{{ builder.profile.bio | escape | markdown | safe }}</p>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header bg-success text-white">
                    <h5 class="mb-0">{% blocktranslate with username=builder.username|safe_username %}Decks by {{ username }}{% endblocktranslate %}</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Deck Name</th>
                                    <th scope="col">Faction</th>
                                    <th scope="col">Hero</th>
                                    <th scope="col" class="text-end">Last Modified</th>
                                </tr>
                            </thead>
                            <tbody>
    {% for deck in deck_list %}
                                <tr onclick="window.location='{{ deck.get_absolute_url }}';" style="cursor:pointer;">
                                        <!-- Deck Name -->
                                    <td class="text-center">
                                        <a role="button" href="#" class="btn btn-sm btn-outline-danger {% if deck.is_loved %}active{% else %}disabled{% endif %}">
                                            <i class="fa-solid fa-heart"></i> {{ deck.love_count }}
                                        </a>
                                        <a role="button" href="#" class="btn btn-sm btn-outline-secondary {% if deck.comment_count > 0 %}active{% else %}disabled{% endif %}">
                                            <i class="fa-solid fa-comment"></i> {{ deck.comment_count }}
                                        </a>
                                    </td>
                                    <td>
                                        <h6 class="mb-1">{{ deck.name|truncatechars:29 }}</h6>
                                    </td>
        {% if deck.hero %}
                                    <td>
                                        {% include "decks/snippets/picture_webp.html" with img_name=deck.hero.faction width=20 height=20 %} {{ deck.hero.get_faction_display.title }}
                                    </td>
                                    <td>
                                        <link rel="prefetch" href="{{ deck.hero.image_url }}"/>
                                        <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-title="<img src='{{ deck.hero.image_url }}'/>" data-bs-html="true" data-bs-placement="right">{{ deck.hero.name }}</span>
                                    </td>
        {% else %}
                                    <td>-</td><td>-</td>
        {% endif %}
                                    <!-- Last Modified Date -->
                                    <td class="text-end">
                                        {% comment %} <span class="badge bg-primary rounded-pill">{{ deck.hit_count_generic.first.hits }} views</span> {% endcomment %}
                                        <p class="small text-muted mb-0">{{ deck.modified_at|date:"F j, Y" }}</p>
                                    </td>
                                </tr>
    {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center">No decks found.</td>
                                </tr>
    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
