{% extends "base.html" %}

{% load cache %}
{% load i18n %}
{% load static %}
{% load deck_styles %}


{% block title %}{% translate "Community" %}{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content-div %}
class="container py-5"
{% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <div class="row">

        <!-- Introduction -->
        <div class="mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{% translate "Discover Our Community" %}</h2>
                    <p class="card-text">
                        {% translate "Welcome to the community hub! Here, you'll find a curated selection of users who are making waves in our platform. Whether you're looking for the latest members, the most popular content creators, or the most followed personalities, you'll find them all here." %}
                    </p>
                    <p class="card-text">
                        {% translate "Explore these lists to connect with others, get inspired, and see what's trending. Join the conversation and become a part of the vibrant community that powers our platform." %}
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{% translate "Join Our Discord Server!" %} <i class="fa-brands fa-discord"></i></h2>
                    <p class="card-text">
                        {% translate "We're excited to invite you to our official Discord server! Our server is designed to be a central hub for all things related to the platform. Whether you're here to stay updated with the latest releases, share your feedback, report any bugs, or submit feature requests, you'll find a place for it all here." %}
                    </p>
                    <ul>
                        <li>{% translate "<strong>Release Announcements:</strong> Be the first to know about new features, updates, and improvements to the platform." %}</li>
                        <li>{% translate "<strong>Feedback and Suggestions:</strong> Share your thoughts and ideas to help us make Altered TCG Builder even better." %}</li>
                        <li>{% translate "<strong>Bug Reporting:</strong> Let us know if you encounter any issues or glitches, so we can address them promptly." %}</li>
                        <li>{% translate "<strong>Feature Requests:</strong> Suggest new features or enhancements you'd like to see in future updates." %}</li>
                    </ul>
                    <p class="card-text">
                        {% translate "Click the below link to join, and we'll see you there! 🚀" %}

                    </p>
                    <a role="button" class="btn btn-secondary" href="https://discord.gg/hGA3dTcxqz" target="_blank"><i class="fa-brands fa-discord"></i> Discord</a>
                </div>
            </div>
        </div>
    {% cache 600 community_stats LANGUAGE_CODE %}
        <!-- User Stats -->
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{% translate "User Engagement" %}</h2>
                    <p class="card-text">
                        {% blocktranslate %}Stay informed about our community's growth! Take a look at the latest user activity, including the number of new members who joined and the <abbr title="Single visit by a user, counted only once">unique views</abbr> to decks we received in the last seven days.{% endblocktranslate %}
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% blocktranslate %}<strong>New Users in the Last Week:</strong> {{ last_week_user_count }} out of {{ total_user_count }}{% endblocktranslate %}
                        </li>
                        <li class="list-group-item">
                            {% blocktranslate %}<strong>Unique Views in the Last Week:</strong> {{ last_week_hits }}{% endblocktranslate %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Deck Stats -->
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{% translate "Deck Building Highlights" %}</h2>
                    <p class="card-text">
                        {% blocktranslate %}Explore the latest content additions to our platform! Look at the numbers for the new <abbr title="Roughly 40% of total">public decks</abbr> created and the imported cards added by users in the last week.{% endblocktranslate %}
                        <!-- Dive into the freshest content our community has to offer. -->
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% blocktranslate %}<strong>New Unique Cards in the Last Week:</strong> {{ last_week_unique_card_count }} out of {{ total_unique_card_count }}{% endblocktranslate %}
                        </li>
                        <li class="list-group-item">
                            {% blocktranslate %}<strong>New Public Decks in the Last Week:</strong> {{ last_week_deck_count }} out of {{ total_deck_count }}{% endblocktranslate %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endcache %}
        <!-- Latest Users -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="h5 mb-0">{% translate "Latest Users" %}</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
    {% for user in latest_users %}
                        <li class="list-group-item ps-2">
                            <a href="{{ user.profile.get_absolute_url }}" class="d-flex align-items-center text-decoration-none">
                                <img src="{{ user.profile.get_profile_picture_image }}" alt="{{ user.username }}'s profile picture" class="user-profile-pic rounded-circle me-2" width="50" height="50">
                                <div>
                                    {% if user.is_followed %}<i class="fa-solid fa-star"></i>{% endif %} <strong>{{ user.username|safe_username }}</strong><br>
                                    <small>{% blocktranslate with date_joined=user.date_joined|date:"M d, Y" %}Joined on {{ date_joined }}{% endblocktranslate %}</small>
                                </div>
                            </a>
                        </li>
    {% empty %}
                        <li class="list-group-item">{% translate "No users found" %}</li>
    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Most Viewed Users -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="h5 mb-0">{% translate "Most Viewed Users" %}</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
    {% for user in most_viewed_users %}
                        <li class="list-group-item ps-2">
                            <a href="{{ user.profile.get_absolute_url }}" class="d-flex align-items-center text-decoration-none">
                                <img src="{{ user.profile.get_profile_picture_image }}" alt="{{ user.username }}'s profile picture" class="user-profile-pic rounded-circle me-2" width="50" height="50">
                                <div>
                                    {% if user.is_followed %}<i class="fa-solid fa-star"></i>{% endif %} <strong>{{ user.username|safe_username }}</strong><br>
                                    <small>{% blocktranslate count deck_count=user.deck_count %}{{ deck_count }} deck{% plural %}{{ deck_count }} decks{% endblocktranslate %}</small>
                                </div>
                            </a>
                        </li>
    {% empty %}
                        <li class="list-group-item">{% translate "No users found" %}</li>
    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Most Followed Users -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h2 class="h5 mb-0">{% translate "Most Followed Users" %}</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
    {% for user in most_followed_users %}
                        <li class="list-group-item ps-2">
                            <a href="{{ user.profile.get_absolute_url }}" class="d-flex align-items-center text-decoration-none">
                                <img src="{{ user.profile.get_profile_picture_image }}" alt="{{ user.username }}'s profile picture" class="user-profile-pic rounded-circle me-2" width="50" height="50">
                                <div>
                                    {% if user.is_followed %}<i class="fa-solid fa-star"></i>{% endif %} <strong>{{ user.username }}</strong><br>
                                    <small>{% blocktranslate count follower_count=user.follower_count%}{{ follower_count }} Follower{% plural %}{{ follower_count }} Followers{% endblocktranslate%}</small>
                                </div>
                            </a>
                        </li>
    {% empty %}
                        <li class="list-group-item">{% translate "No users found" %}</li>
    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
