{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load deck_styles %}
{% load markdown_extras %}


{% block title %}{% translate "Profile of " %}{{ builder.username|safe_username }}{% endblock %}

{% block meta_title %}{% translate "Profile of " %}{{ builder.username|safe_username }}{% endblock %}

{% block content-div %}
class="container px-5 mt-3 mb-5"
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-9">
            <h2>{{ builder.username|safe_username }}</h2>
            <p class="text-muted">{% blocktranslate with date_joined=builder.date_joined|date:"F j, Y" %}Member since {{ date_joined }}{% endblocktranslate %}</p>

    {% if builder.profile.altered_handle %}
            <p><img class="logo" src="{% static "img/altered.webp" %}" alt="logo" width="20px">{% translate "Altered Profile:" %} <a href="https://www.altered.gg/profile/{{ builder.profile.altered_handle }}" target="_blank" class="link-underline link-underline-opacity-0">{{ builder.profile.altered_handle }}</a></p>
    {% endif %}
    
            <h5>{% translate "Bio" %}</h5>
    {% if builder.profile.bio %}
            <p>{{ builder.profile.bio | escape | markdown | safe }}</p>
    {% else %}
            <p><i>{% translate "Empty bio" %}</i></p>
    {% endif %}

    {% if builder.profile.discord_public %}
            <p><a href="https://discordapp.com/users/{{ builder.profile.discord_handle }}" target="_blank" class="btn btn-outline-primary"><i class="fa-brands fa-discord"></i> Discord</a></p>
    {% endif %}

    {% if request.user == builder %}
            <a href="{% url 'profile-edit' %}" class="btn btn-secondary mt-3">{% translate "Edit Profile" %}</a>
    {% elif is_followed %}
            <a href="{% url 'profile-unfollow' builder.profile.code %}" class="btn btn-danger">{% translate "Unfollow" %}</a>
    {% else %}
            <a href="{% url 'profile-follow' builder.profile.code %}" class="btn btn-primary">{% translate "Follow" %}</a>
    {% endif %}
        </div>
    </div>

    <hr>

    <div class="row mt-4">
        <div class="col-12">
            <h4>{% translate "Recent Decks by " %}{{ builder.username|safe_username }}</h4>
            <div class="list-group">
    {% for deck in deck_list %}
                    <a href="{{ deck.get_absolute_url }}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ deck.name }}</h5>
                            <small class="text-muted">{{ deck.created_at|date:"M d, Y" }}</small>
                        </div>
                        <p class="mb-1">{{ deck.description|truncatewords:20 }}</p>
                        <small class="text-muted">{% blocktranslate with modified_at=deck.modified_at|timesince %}Last updated {{ modified_at }} ago{% endblocktranslate %}</small>
                    </a>
    {% empty %}
                    <p class="text-muted">{% translate "No decks created yet." %}</p>
    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
