{% load static %}
{% load i18n %}

<p>It's finally possible to <strong>import unique cards</strong>!<br>Import your unique cards into the deck builder and add them into your decks!</p>

<li><strong>{% translate "New features:" %}</strong>
    <ul>
        <li>New system to Follow users: Subscribe to your favorite deck creators so you're notified whenever they create a new deck</li>
        <li>Added user profiles
            <ul>
                <li><a href="{% url "profile-list" %}">List of users</a> (most recent, most viewed and most followed) accessible from the tab "<i class="fa-solid fa-people-group"></i> {% translate "Builders" %}"</li>
                <li>Profile page for each user displaying a custom bio, public decks and its faction distribution. For example: <a href="{% url "profile-detail" code="dbda1189-b17c-4d6e-806d-8ac7cb9fc85c" %}">Equinox</a></li>
                <li>List of followers and following users</li>
                <li>Access the profile of a deck's creator by clicking on their username</li>
            </ul>
        </li>
        <li>Functionality to <a href="{% url "import-card" %}">import unique cards</a>. Take the reference of the unique cards you like and import them into the deck building!</li>
        <li>Functionality to search individual cards by their reference. This helps greatly finding specific unique cards: <a href="{% url "cards" %}?query=ref%3AALT_COREKS_B_OR_21_U_2139" class="link-offset-2">ref:ALT_COREKS_B_OR_21_U_2139</a>.
            <ul>
                <li>When filtering by reference any other filtering parameters will be ignored.</li>
            </ul>
        </li>
    </ul>
</li>

<li><strong>{% translate "Other changes:" %}</strong>
    <ul>
        <li>The notifications are now retrieved strictly when opening the dropdown. It used to be rendered along the whole page, but this method grants better performance.</li>
        <li>When viewing the detail of a deck, the card display is now kept on screen while scrolling through the page.</li>
    </ul>
</li>

<li><strong>{% translate "Announcements:" %}</strong>
    <ul>
        <li>Exciting news! We've just created an account on <img src="{% static "img/tipeeetip.png" %}" height="16px">&nbsp;<a href="https://fr.tipeee.com/ajordat/" target="_blank">Tipeee</a>, a patronage platform where you can support us directly and help grow our community. Check it out and join us on this journey!</li>
        <li>If you're a German or Italian native speaker and would like to contribute by providing better translations, please reach me out on <a href="https://discordapp.com/users/501840797159653389" target="_blank">Discord</a>.</li>
        <li>Consider supporting the project on <a href="http://www.patreon.com/Ajordat" target="_blank">Patreon</a>, <a href="https://buymeacoffee.com/ajordat" target="_blank">Buy me a coffe</a> or <a href="https://fr.tipeee.com/ajordat/" target="_blank">Tipeee</a> if you enjoy using the platform and consider that we're doing a good job expanding the platform.</li>
    </ul>
</li>
