{% load static %}
{% load i18n %}

<h2>Big News: Our Platform is Now Open-Source! 🎉</h2>

<p>We're thrilled to announce a huge milestone in the growth of our platform — we're going open-source! 🎊</p>
<p>
    By making the project public (<a target="_blank" href="https://github.com/Ajordat/alteredbuilder">Ajordat/alteredbuilder</a>), we're inviting everyone to collaborate, contribute, and help shape the future of this deck-building tool.
    We believe that open-source fosters innovation and transparency, and this decision will help us deliver more features, faster updates, and a stronger community-driven platform.
</p>

<p>What This Means for You:</p>

<ul>
    <li>🛠️ <strong>Get Involved</strong>: Now, you can directly contribute to the development by fixing bugs, adding new features, or improving documentation. Your expertise and creativity can help take the platform to the next level.</li>
    <li>📋 <strong>Track Features and Ideas</strong>: We've also published the <a target="_blank" href="https://github.com/users/Ajordat/projects/1/views/1">GitHub project</a> that we've been using to track upcoming features, improvements, and ideas. You can follow the progress and suggest new features directly in the project. Together, we'll keep the platform moving forward!</li>
    <li>🌐 <strong>Localization &amp; Translations</strong>: One of the exciting improvements we're working on is automating translations. Soon, users will be able to contribute translations seamlessly, and new language updates will be automatically integrated with every release!</li>
    <li>💡 <strong>Transparency</strong>: All development is now happening in the open, and you can track progress, submit ideas, and provide feedback through our GitHub repository (<a target="_blank" href="https://github.com/Ajordat/alteredbuilder">Ajordat/alteredbuilder</a>).</li>
</ul>

<p>How to Contribute:</p>

<p>Whether you're a developer, designer, or just passionate about Altered, there's a place for you to help out!</p>

<p>We're beyond excited to see how the community will help shape the platform. Together, we can build something truly special. Let's make this platform the best deck-building tool out there — for everyone, everywhere! 🌍</p>

<p>Thank you all for your continued support, and stay tuned for more exciting updates soon!</p>

<ul class="list-group bg-info-subtle">

    <li class="list-group-item"><strong>{% translate "Fixes" %}</strong>
        <ul>
            <li>Bug that caused notifications to appear duplicated when opening the dropdown multiple times while in the same view.</li>
            <li>Bug on the Italian translation that caused a visual bug on the advanced filters section of the decks. Reported by Astuni.</li>
        </ul>
    </li>

    <li class="list-group-item"><strong>{% translate "Other changes" %}</strong>
        <ul>
            <li>Improved the interface for small screens (mobiles, iPads, laptops), specially focused around the deck detail view.</li>
            <li>Minor improvements on the pie charts displaying the trends.</li>
        </ul>
    </li>

    <li class="list-group-item"><strong>{% translate "Announcements" %}</strong>
        <ul>
            <li>This platform is now open source: <a target="_blank" href="https://github.com/Ajordat/alteredbuilder">Ajordat/alteredbuilder</a>.</li>
            <li>We have a Discord server! Join if you want to keep up to date with the latest releases, report bugs or request features: <a href="https://discord.gg/hGA3dTcxqz" target="_blank" class="no-underline"><i class="fa-brands fa-discord"></i> <u>Discord Server</u></a></li>
            <li>If you're a German native speaker and would like to contribute by providing better translations, please reach me out on <a href="https://discordapp.com/users/501840797159653389" target="_blank">Discord</a>.</li>
            <li>
                Consider supporting the project on <a href="http://www.patreon.com/Ajordat" target="_blank">Patreon</a>, <a href="https://buymeacoffee.com/ajordat" target="_blank">Buy me a coffe</a> or <a href="https://fr.tipeee.com/ajordat/" target="_blank">Tipeee</a> if you enjoy using the platform and consider that we're doing a good job expanding the platform.
                All funds will be spent in covering the hosting costs to ensure the longetivity of the platform.
            </li>
        </ul>
    </li>
</ul>