{% load static %}
{% load i18n %}

<h3>Profile Pictures Are Here! 🎉</h3>

<p>The release 1.13.1 is finally here after I took some unexpected time off!</p>

<p>
    You can now personalize your profile by selecting from a set of predefined avatars.
    Whether you want to stand out or add a bit of flair to your profile, this new addition is here to enhance your community presence.
</p>
<p>
    To choose your profile picture:
    <ol>
        <li>Go to your profile settings.</li>
        <li>Browse through our selection of avatars.</li>
        <li>Pick the one that best represents you!</li>
    </ol>
    This update is part of a bigger update that I wanted to release sooner, but due to unforeseen circumstances I haven't been able to work on it.
</p>
<p>I'll be working on it soon, so get ready!</p>

<ul class="list-group bg-info-subtle">
    <li class="list-group-item"><strong>{% translate "New features" %}</strong>
        <ul>
            <li>Profile picture selection.</li>
            <li>The deck showcase (by Taum) now displays unique cards and the name of the deck.</li>
        </ul>
    </li>
</ul>