{% load i18n %}

<!-- Update description -->

<ul class="list-group bg-info-subtle">
    <li class="list-group-item"><strong>{% translate "New features" %}</strong>
        <ul>
            <li>feature</li>
        </ul>
    </li>

    <li class="list-group-item"><strong>{% translate "Fixes" %}</strong>
        <ul>
            <li>fix</li>
        </ul>
    </li>

    <li class="list-group-item"><strong>{% translate "Other changes" %}</strong>
        <ul>
            <li>improvement</li>
        </ul>
    </li>


    <li class="list-group-item"><strong>{% translate "Announcements" %}</strong>
        <ul>
            <li>announcement</li>
        </ul>
    </li>
</ul>
