{% extends "base.html" %}


{% block title %}Collaborators{% endblock %}

{% block content %}
    <h3 id="collaborators">Collaborators</h3>
    <p>Whilst this web is designed, developed and maintained by a single individual, it has received help from different people.</p>
    <p>This is a space to give credit where credit is due.</p>

    <h5>Partnerships</h5>
    <ul>
        <li>Pioupiou: As the developer of <a href="https://exalts-table.com" target="_blank">Exalts Table</a>, which is used to playtest the decks.</li>
    </ul>

    <h5>Translators</h5>
    <ul>
        <li>Maverick</li>
        <li>Yutsa</li>
        <li>Eazy</li>
        <li>Keyuko</li>
    </ul>

    <h5>Bug reports</h5>
    <ul>
        <li>N0oh</li>
        <li>JoliRougeGorge</li>
        <li>Tomawaky</li>
    </ul>
{% comment %}
    <h5>Feature Requests</h5>
    <ul>
        <li>Maverick: Internationalization and localization</li>
        <li>Eazy: Goldfishing (TBA), UX improvement editing decks from the card list (TBA)</li>
        <li>N0oh: Dark mode, ability to print (TBA), Deck visualization (TBA)... </li>
        <li>Kawa: Different views for decks (TBA)</li>
        <li>Aran: Increase the length of the deck description, Sideboard for decks (TBA), Comments on decks (TBA)</li>
        <li>Keyuko: Increase the frequency of card pool updates</li>
    </ul>
{% endcomment %}

    <h5>Discussions</h5>
    <p>Most of the discussions regarding this (and other Altered-related programming stuff) happen in this <i class="fab fa-discord"></i> Discord server: <a href="https://discord.gg/hQKb2ENZ" target="_blank">Altered Programming <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
    <p>This server has proved to be a very good source of suggestions, bug reports and feature requests. Without this subcommunity of Altered enjoyers this site wouldn't be half as good as it is.</p>
{% endblock %}