{% extends "base.html" %}


{% block title %}Collaborators{% endblock %}
{% block meta_title %}Collaborators{% endblock %}

{% block content %}
    <h3 id="collaborators">Collaborators</h3>
    <p>Whilst this web is designed, developed and maintained by a single individual, it has received help from different people.</p>
    <p>This is a space to give credit where credit is due. People are sorted in alphabetical order.</p>

    <h5>Special mentions</h5>
    <ul>
        <li>Aran: For suggesting multiple enhancements, and gathering opinions on the potential tags to describe decks and elaborating a proposal.</li>
        <li>Maverick: Besides multiple helpful advice, he provided Altered's symbols as SVG so that they can be used as icons.</li>
        <li>Pioupiou: As the developer of <a href="https://exalts-table.com" target="_blank">Exalts Table</a>, which is used to playtest the decks.</li>
        <li>Pollux Troy: As the developer of <a href="https://altered-db.com/" target="_blank">Altered DB</a>, who provided the icons for the factions.</li>
    </ul>

    <h5>Translators</h5>
    <div class="row">
        <div class="col">
            <strong>German</strong>
            <ul>
                <li>Melle</li>
            </ul>
        </div>
        <div class="col">
            <strong>English</strong>
            <ul>
                <li>Ajordat</li>
            </ul>
        </div>
        <div class="col">
            <strong>Spanish</strong>
            <ul>
                <li>Ajordat</li>
            </ul>
        </div>
        <div class="col">
            <strong>French</strong>
            <ul>
                <li>Eazy</li>
                <li>Keyuko</li>
                <li>Maverick</li>
                <li>Pioupiou</li>
                <li>Yutsa</li>
            </ul>
        </div>
        <div class="col">
            <strong>Italian</strong>
            <ul>
                <li>Astuni</li>
            </ul>
        </div>
    </div>

    <h5>Bug reports</h5>
    <ul>
        <li>JoliRougeGorge</li>
        <li>N0oh</li>
        <li>Pioupiou</li>
        <li>Tomawaky</li>
        <li>zadibouc</li>
    </ul>
{% comment %}
    <h5>Feature Requests</h5>
    <ul>
        <li>Aran: Increase the length of the deck description, Sideboard for decks (TBA), Comments on decks (TBA)</li>
        <li>Eazy: Goldfishing (TBA), UX improvement editing decks from the card list (TBA)</li>
        <li>Kawa: Different views for decks (TBA)</li>
        <li>Keyuko: Increase the frequency of card pool updates</li>
        <li>Maverick: Internationalization and localization</li>
        <li>N0oh: Dark mode, ability to print (TBA), Deck visualization (TBA)... </li>
    </ul>
{% endcomment %}

    <h5>Discussions</h5>
    <p>Most of the discussions regarding this (and other Altered-related programming stuff) happen in this <i class="fab fa-discord"></i> Discord server: <a href="https://discord.gg/hQKb2ENZ" target="_blank">Altered Programming <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
    <p>This server has proved to be a very good source of suggestions, bug reports and feature requests. Without this subcommunity of Altered enjoyers this site wouldn't be half as good as it is.</p>
{% endblock %}